@import "../base/colors";
@import "../base/mixins";

$gutter-mobile: 20px;
$gutter-desktop: 30px;

.row {
	margin-left: -$gutter-mobile;
	margin-right: -$gutter-mobile;
}

.row-band {
	background-color: $black5;
	@include rem-fallback(margin-bottom, 32px / 16px);
	margin-left: -$gutter-mobile;
	margin-right: -$gutter-mobile;
	padding-left: $gutter-mobile;
	padding-right: $gutter-mobile;
	@include rem-fallback(padding-top, 16px / 16px);
}

.container-fluid, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: $gutter-mobile;
	padding-right: $gutter-mobile;
}

@include if-min(lg) {
	.row {
		margin-left: -$gutter-desktop;
		margin-right: -$gutter-desktop;
	}

	.row-band {
		margin-left: -$gutter-desktop;
		margin-right: -$gutter-desktop;
		padding-left: $gutter-desktop;
		padding-right: $gutter-desktop;
	}

	.container-fluid, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		padding-left: $gutter-desktop;
		padding-right: $gutter-desktop;
	}
}
