@import "../base/colors";
@import "../base/mixins";

.row-band {
	background-color: $black5;
	@include rem-fallback(margin-bottom, 32px / 16px);
	margin-left: -$gutter-mobile;
	margin-right: -$gutter-mobile;
	padding-left: $gutter-mobile;
	padding-right: $gutter-mobile;
	@include rem-fallback(padding-top, 16px / 16px);
}



.centered-col {
    float: none;
    margin: 0 auto;
}

@include if-min(lg) {
	

	.row-band {
		margin-left: -$gutter-desktop;
		margin-right: -$gutter-desktop;
		padding-left: $gutter-desktop;
		padding-right: $gutter-desktop;
	}

}
