@import "../base/colors";
@import "../base/mixins";
@import "../modules/icons-generated";

/** popover style Facebook and Email*/

.popover {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    text-align: center;
    height: 280px;
    background: #fff;
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    align-items: center;
    justify-content: space-between;
    top: 40px;
    border: 3px solid $teal;
    border-radius: 0px;

    .popover-content {
        padding: 0px;

        h5 {
            top: -20px;
            position: relative;
            color: $black;
            font-weight: bold;
            font-size: .65em;
            text-align: center;
            letter-spacing: 0.3em;
        }

        i {
            margin-left: -15px !important;
        }
    }

    .arrow {
        border-top-color: $teal !important;
        border-width: 25px !important;
        bottom: -50px !important;
        margin-left: -25px !important;

        &::after {
            bottom: -15px !important;
            margin-left: -20px !important;
            border-width: 20px !important;
            border-top-color: white !important;
        }
    }
    /**Responsive */
    @include if-min(md) {
        height: 140px;
        min-width: 350px;
        left: 50%;

        .popover-content {
            i {
                margin-left: -30px !important;
            }

            .col-md-6 {
                &:after {
                    content: ' ';
                    @include sprite($flourish-vert);
                    overflow: hidden;
                    transform: translate(-50%,-50%);
                    position: absolute;
                    top: 50%;
                    right: 0;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}
/**end style popover Facebook and email */
