@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

/** popover style Facebook and Email*/

.popover {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    text-align: center;
    height: 280px;
    background: #fff;
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    align-items: center;
    justify-content: space-between;
    top: 40px;
    border: 3px solid $teal;
    border-radius: 0px;

    .popover-content {
        padding: 0px;

        h5 {
            top: -20px;
            position: relative;
            color: $black;
            font-size: .65em;
            text-align: center;
            letter-spacing: 0.3em;
        }

        i {
            margin-left: -15px !important;
        }
    }

    .arrow {
        border-top-color: $teal;
        border-width: 25px;
        bottom: -25px;
        margin-left: -25px;

        &::after {
            bottom: 5px;
            margin-left: -20px;
            border-bottom-width: 0;
            border-top-color: #fff;
            border-width: 20px;
            border-top-color: white;
        }
    }
    /**Responsive */
    @include if-min(md) {
        height: 140px;
        min-width: 350px;
        left: 50%;

        .popover-content {
            i {
                margin-left: -30px !important;
            }
        }
    }
}
/**end style popover Facebook and email */
