.display-table {
	display: table;
}

.display-table-caption {
	display: table-caption;
}

.display-table-head {
	display: table-header-group;
}

.display-table-body {
	display: table-row-group;
}

.display-table-foot {
	display: table-footer-group;
}

.display-table-cell {
	display: table-cell;
}