<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="false" />
	</appSettings>
	<system.web>
		<authentication mode="None"/>
		<compilation debug="true" targetFramework="4.5" />
		<customErrors mode="Off" />
		<httpRuntime targetFramework="4.5" />
		<pages masterPageFile="~/Site.master">
			<controls>
				<add tagPrefix="ks" tagName="Component" src="~/controls/Component.ascx" />
				<add tagPrefix="ks" tagName="Content" src="~/controls/Content.ascx" />
				<add tagPrefix="ks" tagName="Snippet" src="~/controls/Snippet.ascx" />
				<add tagPrefix="xom" tagName="Footer" src="~/controls/sci/nav/Footer.ascx" />
				<add tagPrefix="xom" tagName="GlobalSelector" src="~/controls/sci/nav/GlobalSelector.ascx" />
				<add tagPrefix="xom" tagName="Header" src="~/controls/sci/nav/Header.ascx" />
				<add tagPrefix="xom" tagName="MegaNav" src="~/controls/sci/nav/MegaNav.ascx" />
				<add tagPrefix="xom" tagName="MobileMenu" src="~/controls/sci/nav/MobileMenu.ascx" />
			</controls>
			<namespaces>
				<add namespace="XOMFL.CommonComponents.Extensions"/>
			</namespaces>
		</pages>
		<sessionState mode="Off" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>
				<rule name="API-Locator-Boundary-Seattle" stopProcessing="true">
					<match url="api/locator/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="Latitude1=4(.*)&amp;Latitude2=(.*)&amp;Longitude1=(.*)&amp;Longitude2=(.*)" />
					</conditions>
					<action type="Rewrite" url="api-mock/locator-seattle.json" appendQueryString="false" />
				</rule>
				<rule name="API-Locator-Boundary-Dallas" stopProcessing="true">
					<match url="api/locator/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="Latitude1=32(.*)&amp;Latitude2=(.*)&amp;Longitude1=(.*)&amp;Longitude2=(.*)" />
					</conditions>
					<action type="Rewrite" url="api-mock/locator-dallas.json" appendQueryString="false" />
				</rule>
				<rule name="API-Locator-Boundary-China" stopProcessing="true">
					<match url="api/locator/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="Latitude1=34(.*)&amp;Latitude2=(.*)&amp;Longitude1=(.*)&amp;Longitude2=(.*)" />
					</conditions>
					<action type="Rewrite" url="api-mock/locator-china.json" appendQueryString="false" />
				</rule>
				<rule name="API-Locator-Seattle" stopProcessing="true">
					<match url="api/locator/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="q=seattle" />
					</conditions>
					<action type="Rewrite" url="api-mock/locator-seattle.json" appendQueryString="false" />
				</rule>
				<rule name="API-Locator-Dallas">
                    <match url="api/locator/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="q=dallas" />
					</conditions>
                    <action type="Rewrite" url="api-mock/locator-dallas.json" appendQueryString="false" />
                </rule>
				<rule name="API-Locator-China" stopProcessing="true">
					<match url="api/locator/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="q=china" />
					</conditions>
					<action type="Rewrite" url="api-mock/locator-china.json" appendQueryString="false" />
				</rule>
				<rule name="API-GDL-Seattle" stopProcessing="true">
					<match url="api/gdl/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="Latitude=47" />
					</conditions>
					<action type="Rewrite" url="api-mock/gdl-seattle.json" appendQueryString="false" />
				</rule>
				<rule name="API-GDL-Jersey" stopProcessing="true">
					<match url="api/gdl/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="Latitude=40" />
					</conditions>
					<action type="Rewrite" url="api-mock/gdl-jersey.json" appendQueryString="false" />
				</rule>
				<rule name="API-GDL-Tampa" stopProcessing="true">
					<match url="api/gdl/" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="Latitude=27" />
					</conditions>
					<action type="Rewrite" url="api-mock/gdl-empty.json" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
			<remove fileExtension=".mp3" />
			<mimeMap fileExtension=".mp3" mimeType="audio/mpeg3" />
			<remove fileExtension=".data" />
			<mimeMap fileExtension=".data" mimeType="image/png" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="P3P" value="policyref='/w3c/p3p.xml', CP='IDC DSP COR IVAi IVDi OUR TST'"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>