<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add xdt:Transform="Insert" key="AutoLogonKey" value="fe6dcc52945543dd8b46a1ce8fb5f816" />
	</appSettings>
	<system.web>
		<authentication xdt:Transform="Replace" mode="Forms">
			<forms name="emfl" path="/" loginUrl="~/login.aspx" protection="All" timeout="120" defaultUrl="~/">
				<credentials passwordFormat="Clear">
					<user name="emfl" password="bigoil" />
					<user name="client" password="dreamliner" />
					<user name="preview" password="glp" />
				</credentials>
			</forms>
		</authentication>
		<authorization xdt:Transform="Insert">
			<deny users="?" />
		</authorization>
	</system.web>
	<system.webServer>
		<staticContent>
			<clientCache xdt:Transform="Replace" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
		</staticContent>
	</system.webServer>
	<location path="Status.aspx" xdt:Transform="Insert">
		<system.web>
			<authorization>
				<deny users="client"/>
			</authorization>
		</system.web>
	</location>
	<location path="pages/private" xdt:Transform="Insert">
		<system.web>
			<authorization>
				<deny users="client,preview"/>
			</authorization>
		</system.web>
	</location>
	<location path="pages/private/retail/HomeEsso2.aspx" xdt:Transform="Insert">
		<system.web>
			<authorization>
				<allow users="preview"/>
			</authorization>
		</system.web>
	</location>
</configuration>