$primary-color: #cf3101;
$dark-text: #454545;
$light-text: #808080;

$btn-primary: #0c479d;
$btn-primary-hover: #3d6cb1;
$btn-secondary: #00a3e0;
$btn-secondary-hover: #33b5e6;
$btn-tertiary: #ed8b00;
$btn-tertiary-hover: #f1a233;
$nav-header-divider: $primary-color;
$nav-main-bar-background: #fff;
$nav-main-bar-text-dark: $dark-text;
$nav-main-bar-text-light: $light-text;
$nav-main-item-active-background: #fafafa;
$nav-main-item-active-text: $dark-text;
$nav-main-item-hover-background: #f4f4f4;
$nav-main-item-hover-border: $primary-color;
$nav-main-item-hover-text: $primary-color;
$nav-main-search-icon: #d4d4d4;
$nav-main-search-text: $light-text;
$nav-main-search-text-hover: $dark-text;
