@import "_defaults";

$primary-color: #ce3200;

$nav-header-divider: $primary-color;
$nav-main-item-hover-border: $primary-color;
$nav-main-item-hover-text: $primary-color;

@import "branded-elements/button";
@import "branded-elements/nav-header";
@import "branded-elements/nav-main-list";
@import "branded-elements/nav-main-search";
@import "branded-elements/nav-main";
