@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

.no-js {
	.panel {
		border-left-width: 1px !important;
	}

	.panel-heading {
		background-color: transparent !important;
		padding-bottom: 0 !important;

		> a > i {
			display: none !important;
		}
	}

	.panel-collapse {
		display: block;
	}

	.panel.active {
		border-left-color: $black8 !important;
	}
}

.panel-no-radius {
	@include border-radius(0);
}

.panel-group {
	.panel {
		@extend .panel-no-radius;
		border: none;
		@include box-shadow(none);
        background: transparent;

		> .panel-heading {
			@extend .panel-no-radius;
			border: 1px solid $tan;
			background-color: $white;
            padding: 0 $caret-width + 20px 0 20px; 
			position: relative;
            margin: 20px 0;

			> a {
                @include font-header();
				color: $black;
                font-size: 30px;
                outline:none;

                &:focus {
                    text-decoration: none;
                }

			}

			.icon {
				position: static;

                i {
                    display: block;
				    position: absolute;
				    right: 10px;
				    top: 10px;
				    @include sprite($caret);
                    @include transition(all .12s);
                }
			}

			+ .panel-collapse > .panel-body {
				
				border-top: none;
			}
		}

        .panel-body {
            padding: 0 20px;
        }

		&.active {
			

			> .panel-heading {
				
				a > i {
					@include transform(rotate(180deg));
				}
			}

		}
	}
}
