@import "../base/colors";
@import "../base/mixins";

.component {
    &.alert, &.alert-warning, &.alert-danger {
        @include border-radius(0);
        background-color: $red;
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;


        a, a:link, a:hover, a:visited, a:active {
            color: $black;
            border-bottom: 2px solid $black;
            padding-bottom: 3px;
        }

        > p {
            @include inner-component();
            line-height: 1.2;
        }
    }

    &.alert-danger {
        color: $white;
        background-color: #d21e1e;

        a, a:link, a:hover, a:visited, a:active {
            color: $white;
            border-bottom-color: $white;
        }
    }
}
