@import "../base/colors";
@import "../base/mixins";

.alert, .alert-warning, .alert-danger {
	@include border-radius(0);
	background-color: $red;
	border: none;
	color: $white;
	padding: 20px;
    text-transform: uppercase;
    text-align: center;

    a, a:link, a:hover, a:visited, a:active {
        color: $white;
        text-decoration: underline;
    }

	> p {
		line-height: 1.2;
	}
}

