@import "../base/mixins";
@import "../base/colors";

.associates-card.surfaced-item {
    background: $grey2;
    
    div {
        margin-top: 15px;
        text-align: center;
        font-size: 0.6em;
    }

    p {
        text-align: center;
        font-size: 0.7em;
        margin: 5px 0 0;
    }

    img {
        width: 100%;
    }


    @include if-min(sm) {

        h3 {
            font-size: 2.5em;
        }

        div {
            font-size: 0.7em;
        }

        p {
            font-size: 0.8em;
        }
    }
}


#associates {

    .col-md-4 {
        h2 {
            font-size: 2.6em;
        }

        p {
            text-align: center;
            @include font-family('Lato-Bold');
            color: $grey;
            margin-top: 3%;
            @include font-uppercase();

            a {
                margin-top: 20px;
                display: none;
            }
        }

        @include if-min(md) {

            h2 {
                font-size: 2.4em;
            }
        }


        @include if-min(lg) {

            p a {
                display: inline-block !important;
            }
        }
    }

    .associate-link p a {
        display: inline-block !important;
    }

    .carousel {
        .slick-list {
            .slick-slide {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    @include if-min(lg) {
        
        .associate-link {
            display: none;
        }

        .associates-card {
            h3 {
                font-size: 1.6em;
            }

            div {
                font-size: 0.7em;
            }

            p {
                font-size: 0.8em;
            }
        }
    }
}
