@import "../base/mixins";
@import "../base/colors";


#associates {
    h2 {
        margin-bottom: 15px !important;
    }

    .col-md-4 {
        h2 {
            font-size: 2.6em;
        }

        p {
            text-align: center;
            font-weight: bold;
            color: $grey;
            margin-top: 3%;
            letter-spacing: 2px;
        }
    }

    .carousel {
        .slick-list {
            .slick-slide {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .associates-card {
            background: $grey2;

            h3 {
                font-size: 1.8em;
            }

            div {
                margin-top: 15px;
                text-align: center;
                font-size: 0.6em;
            }

            p {
                text-align: center;
                font-size: 0.7em;
                margin: 0px;
                margin-top: 5px;
            }

            img {
                width: 100%;
            }
        }
    }
}

/**Responsive Associate cards*/
@include if-min(sm) {
    #associates {
        .carousel {
            .associates-card {
                h3 {
                    font-size: 2.5em;
                }

                div {
                    font-size: 0.7em;
                }

                p {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@include if-min(md) {
}

@include if-min(lg) {
    #associates {
        .associate-link {
            margin-top: -8%;
        }

        .carousel {
            .associates-card {
                h3 {
                    font-size: 1.6em;
                }

                div {
                    font-size: 0.7em;
                }

                p {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@include if-min(xl) {
}
