@import "../base/colors";
@import "../base/mixins";

.breadcrumb-back {

    .breadcrumb-list {
        list-style: none;
        @include rem-fallback(margin-right, 12px / 16px);

        li:first-child:before {
            content: "\2039 \0020";
        }

        li,
        li:last-child {
            a {
               
            }
        }
    }
}

.breadcrumb-list {
    margin-bottom: 0;
    padding: 0;

    > li {
        display: inline-block;

        > a {
            @include rem-fallback(margin-right, 12px / 16px);
            color: $grey;
        }

        &:last-child {

            &:after {
                content: none;
            }

            > a {
                color: $black;
            }
        }
    }
 
}

.breadcrumb-panel,
.breadcrumb-panel-action {
    background: $black5;
    border-bottom: 1px solid $black8;
    color: $grey;
    @include rem-fallback(padding, 10px / 16px, 30px / 16px);
    width: 100%;

    .current-language {
        color: $black;
        font-family: "Lato-Regular";
    }
}

.modal-change-language {
    .wrapper-submit-btn {
        clear: both;
        @include rem-fallback(margin-top, 32px / 16px);
    }
}

@include if-min(sm) {
    .modal-breadcrumb {
        .form-group > input[type=radio] + label {
            margin-right: 20px;
            width: auto;
        }
    }
}

@include if-min(md) {
    .breadcrumb-panel-action {
        display: table;

        .breadcrumb-list {
            display: table-cell;
            vertical-align: top;
        }

        .change-language {
            display: table-cell;
            @include rem-fallback(padding-left, 10px / 16px);
            text-align: right;
            vertical-align: top;
        }
    }

    .col-3, .col-4 {
        .breadcrumb-panel-action {
            .change-language {
                white-space: nowrap;
            }
        }
    }
}
