@import "../base/colors";
@import "../base/mixins";

.breadcrumb-back {

    .breadcrumb-list {
        list-style: none;
        @include rem-fallback(margin-right, 12px / 16px);

        li:first-child:before {
            content: "\2039 \0020";
        }
    }
}

.breadcrumb-list {
    
    @include inner-component();
    padding: 0;
    font-size: 14px;
    letter-spacing: 2.4px;
    text-transform: uppercase;

    > li {
        display: inline-block;

        > a {
            @include rem-fallback(margin-right, 12px / 16px);
            color: $black;
        }

        &:after {
            content: '/';
        }


        &:last-child {

            &:after {
                content: none;
            }
        }
    }
 
}

.breadcrumb-panel,
.breadcrumb-panel-action {
    background: $white;
    color: $black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 !important;
}



@include if-min(sm) {
    .modal-breadcrumb {
        .form-group > input[type=radio] + label {
            margin-right: 20px;
            width: auto;
        }
    }
}

@include if-min(md) {
    .breadcrumb-panel-action {
        display: table;

        .breadcrumb-list {
            display: table-cell;
            vertical-align: top;
        }    
    }  
}
