@import "../base/colors";
@import "../base/mixins";

.btn {
	@include border-radius(0);
	@include rem-fallback(font-size, 14px / 16px);
	@include rem-fallback(padding, 10px / 14px, 30px / 14px);
	@include rem-fallback(margin, 2px / 16px);
	background-color: transparent;
	border: 2px solid $teal;
	color: $black;
	font-family: "Lato-Bold";
	position: relative;
    text-transform: uppercase;
	max-width: 100%;

    @include transition(all .25s ease);

	&:active, &:focus, &:visited, &:hover {
		color: $white;
        background-color: $teal;
        border-color: $teal;
	}	
}

.btn-sm {
	@include rem-fallback(font-size, 16px / 16px);
	@include rem-fallback(padding, 5px / 16px, 50px / 16px);

	&.btn-icon {
		@include rem-fallback(padding, 10px / 16px, 50px / 16px);
	}
}

.btn-lg {
	@include rem-fallback(font-size, 20px / 16px);

	> .text {
		display: inline-block;
		max-width: 200px;
		text-align: left;
		white-space: normal;
	}
}

.btn-primary {
	 @extend .btn;	
}

.btn-secondary {
	 @extend .btn;	
}

.btn-tertiary {
	 @extend .btn;	
}

.btn-deemphasized {
	@extend .btn;
}

.btn-link {
	background-color: transparent;

	&:hover {
		background-color: transparent;
	}
}

.btn-light {
	@extend .btn;
}

.btn-cancel.btn-link {
	

	&:active, &:focus, &:visited, &:hover {
		
	}
}

.btn-badge {
	@extend .btn;

	> .icon {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.btn-icon {
	@extend .btn;

	> .icon {
		@include rem-fallback(top, -1.6px / 16px);
		display: inline-block;
		position: relative;
		margin-right: 10px;
		vertical-align: middle;
	}

	&.btn-lg {
		max-width: 300px;
		min-height: 82px;
		text-align: left;
		white-space: normal;

		> .icon {
			@include rem-fallback(top, 10px / 16px);
			float: left;
		}
	}
}

.col-1 {
	> .btn {
		width: 100%;
	}
}
