@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

// Default Variables

$slick-loader-path: "./" !default;
$slick-arrow-color: $white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: " " !default;
$slick-next-character: " " !default;
$slick-dot-character: " " !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.5 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.5 !default;


.no-js {
    .slide {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center;
        margin: 5px 0;
        display: none;
    }

    .slide:first-child {
        display: block;
    }
}

/* Slider */

.carousel {
    padding: 0px !important;

    .featured-item {
        padding: 0;
    }
}


.slick-dots {
    display: none !important;
}

.slick-list {
    margin-bottom: 0px;
    display: block;
    max-height: 600px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;

    .slick-loading & {
        background: none;
    }
}


.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    cursor: pointer;
    color: transparent;
    padding: 0;
    border: none;
    outline: none;
    bottom: 0;
    background: $grey;
    opacity: 0.7;
    z-index: 2;
    top: 20%;
    @include transform(translate(0,50%));
    transition-duration: 0.8s;
    height: 100px;
    width: 50px;

    &:hover, &:focus {
        outline: none;
        color: transparent;
    }

    // Icons
    &:before {
        content: '';
        display: block;
        margin-top: 25px;
    }
}


.slick-prev {
    left: 0;
    
    &:before {
        @include sprite($icon-carousel-prev);
    }
}

.slick-next {
    right: 0;

    &:before {
        @include sprite($icon-carousel-next);
    }
}

.slick-slider {
    margin-bottom: 30px;
}

.slick-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.slide-title {
    @include opacity(.9);
    background-color: #fff;
    float: left;
    margin: 15px;
    padding: 20px;

    > p {
        color: $grey;
        margin: 0;
        padding: 0;
    }

    > h2 {
        @include rem-fallback(font-size, 40px / 16px);
        @include rem-fallback(margin, 10px / 16px, 0);
    }

    > .tagline, > a {
        @include rem-fallback(font-size, 20px / 16px);
    }

    > a {
        display: block;
        @include rem-fallback(margin-top, 10px / 16px);
    }
}

@include if-min(md) {
    .carousel {

        .featured-item-slide-topic {

            .featured-item-slide-title-copy {
                @include opacity(.85);
                background-color: $grey !important;
                display: block;
                padding: 10px 20px 20px;
                color: $white;
                position: absolute;
                text-align: center;
                right: 15% !important;
                bottom: 0px !important;
                min-width: 25% !important;
                max-width: 35% !important;

                a, .glyph-link {
                    color: white;
                }
            }
        }
    }
}

@include if-min(lg) {

    .col-3, .col-4 {

        .slick-list {
            margin-bottom: 0;
        }
    }

    .col-4 {

        .slide-title {
            max-width: 30%;
        }
    }

    .slick-next, .slick-prev {
        opacity: 0 !important;
        top: 30%;
    }

    .carousel:hover {
        .slick-next, .slick-prev {
            opacity: .7 !important;
        }
    }
}

@include if-min(xl) {


    .featured-item-slide-topic {

        .featured-item-slide-title-copy {
            max-width: 25% !important;
            height: 100%;
            top: 20%;
        }
    }
}
/** Image Setting */
img.featured-item-slide-image {
    margin-bottom: 0px !important;
}
/** Carousel-gallery */
.featured-item-slide-topic {
    .featured-item-slide-image {
        margin-bottom: 0px !important;
    }

    .featured-item-slide-title-copy {
        padding: 10px 20px 20px;
        background: $grey2;

        .screen-title-title, .screen-title-subtitle, p {
            text-align: center;
        }
    }
}
