@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

// Default Variables

$slick-font-path: "../../../../vendor/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: $white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: " " !default;
$slick-next-character: " " !default;
$slick-dot-character: " " !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.5 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.5 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

.no-js {
    .slide {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center;
        margin: 5px 0;
        display: none;
    }

    .slide:first-child {
        display: block;
    }
}

/* Slider */
.slick-dots {
    display: none !important;
}

.slick-list {
    margin-bottom: 0px;
    display: block;
    max-height: 600px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;

    .slick-loading & {
        background: none;
    }
}


/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}


.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    cursor: pointer;
    color: transparent;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    bottom: 0;
    background-color: transparent;
    z-index: 2;

    &:hover, &:focus {
        outline: none;
        background-color: transparent;
        color: transparent;
    }
}


.slick-prev {
    left: 0;
    @include sprite($icon-carousel-prev);

    [dir="rtl"] & {
        left: auto;
        right: 15px;
    }

    &:before {
        content: $slick-prev-character;

        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 0;
    @include sprite($icon-carousel-next);

    [dir="rtl"] & {
        left: 15px;
        right: auto;
    }

    &:before {
        content: $slick-next-character;

        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

.slick-slider {
    margin-bottom: 30px;
}



.slick-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.slide-title {
    @include opacity(.9);
    background-color: #fff;
    float: left;
    margin: 15px;
    padding: 20px;

    > p {
        color: $grey;
        margin: 0;
        padding: 0;
    }

    > h2 {
        @include rem-fallback(font-size, 40px / 16px);
        @include rem-fallback(margin, 10px / 16px, 0);
    }

    > .tagline, > a {
        @include rem-fallback(font-size, 20px / 16px);
    }

    > a {
        display: block;
        @include rem-fallback(margin-top, 10px / 16px);
    }
}

@include if-min(sm) {
    .component {
        .slick-next {
            top: 20% !important;
        }

        .slick-prev {
            top: 20% !important;
        }
    }
}

@include if-min(md) {
    .component {
        .slick-next {
            top: 40% !important;
        }

        .slick-prev {
            top: 40% !important;
        }
    }

    .featured-item-slide-topic {

        .featured-item-slide-title-copy {
            @include opacity(.85);
            background-color: $grey !important;
            display: block;
            padding: 10px 20px 20px;
            color: $white;
            position: absolute;
            text-align: center;
            right: 15% !important;
            bottom: 0px !important;
            min-width: 25% !important;
            max-width: 35% !important;
            a, .glyph-link {
                color: white;
            }
        }
    }
}

@include if-min(lg) {

    $slick-dot-horizontal-padding: 15px;

    .col-3, .col-4 {

        .slick-list {
            margin-bottom: 0;
        }

    }

    .col-4 {

        .slide-title {
            max-width: 30%;
        }
    }

    .component {
        .slick-next, .slick-prev {
            opacity: 0 !important;
            transition-duration: 0.8s !important;
        }

        &:hover {
            .slick-next, .slick-prev {
                opacity: .7 !important;
            }
        }
    }
}


@include if-min(xl) {


    .featured-item-slide-topic {

        .featured-item-slide-title-copy {
            max-width: 25% !important;
            height:100%;
            top:20%;
        }
    }
}
/** Image Setting */

img.featured-item-slide-image {
    margin-bottom: 0px !important;
}
/** Carousel-gallery */
.featured-item-slide-topic {
    .featured-item-slide-image {
        margin-bottom: 0px !important;
    }

    .featured-item-slide-title-copy {
        padding: 10px 20px 20px 20px;
        background: #f2f0ec;

        .screen-title-title {
            text-align: center;
        }

        .screen-title-subtitle {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}

.component {
    padding: 0px !important; // This affects EVERY component on the entire site - please make more specific to carousel
    .slick-next, .slick-prev {
        top: 24%;
        background-color: $grey;
        opacity: 0.7;
        width: 50px;
    }

    .slick-next {
        right: 0;
        background-position: -230px -300px;
    }

    .slick-prev {
        left: 0;
        background-position: -325px -300px;
    }
}
