@import "../base/colors";
@import "../base/mixins";

.data-visualization {
    background-color: $black5;
    padding: 15px;
    line-height: 1.2;
}

.data-visualization-title {
    border-bottom: 1px solid #ccc;
    @include rem-fallback(font-size, 30px / 16px);
    margin: 0;
    padding: 0;

    span {
        @include rem-fallback(font-size, 51px / 16px);
        font-family: EMprintBold;
    }
}

.data-visualization-title,
.data-visualization-image {
    padding: 15px;
}

.data-visualization-image {
    padding-top: 30px;
    text-align: center;
}

.data-visualization-text {
    @include rem-fallback(font-size, 20px / 16px);
    font-family: EMprintItalic;
    @include rem-fallback(padding, 20px / 16px, 0);
}

.bp-lg {
    > .data-visualization {
        display: table;

        > p {
            padding: 0;
        }

        > .data-visualization-title,
        > .data-visualization-image,
        > .data-visualization-text {
            display: table-cell;
            padding: 35px;
            vertical-align: middle;
            width: 50%;
        }

        .data-visualization-title {
            border-right: 1px solid #ccc;
            border-bottom: none;
        }
    }
}
