@import "../base/colors";
@import "../base/mixins";
@import "../modules/icons-generated";

.event-list {
    background-color: $greystripe;
    width: 100%;

    .event-list-date {
        position: relative;

        &:after {
            content: ' ';
            @include sprite($flourish-vert);
            overflow: hidden;
            width: $flourish-vert-width;
            height: $flourish-vert-height;
            transform: translate(-50%,-50%);
            position: absolute;
            top: 50%;
            right: 0;
        }
    }

    .event-list-date {
        text-align: center;
        vertical-align: middle;
    }

    .event-list-day {

        @include font-header();
        margin: -20px 0;
        padding: 0 20px;
        font-size: 100px;
    }

    .event-list-description {
        padding: 10px 30px 20px;
    }
}
