// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-badge-star-name: 'icon-badge-star';
$icon-badge-star-x: 400px;
$icon-badge-star-y: 90px;
$icon-badge-star-offset-x: -400px;
$icon-badge-star-offset-y: -90px;
$icon-badge-star-width: 28px;
$icon-badge-star-height: 32px;
$icon-badge-star-total-width: 450px;
$icon-badge-star-total-height: 400px;
$icon-badge-star-image: '../img/icons.png';
$icon-badge-star: (400px, 90px, -400px, -90px, 28px, 32px, 450px, 400px, '../img/icons.png', 'icon-badge-star', );
$icon-blue-diamond-name: 'icon-blue-diamond';
$icon-blue-diamond-x: 430px;
$icon-blue-diamond-y: 324px;
$icon-blue-diamond-offset-x: -430px;
$icon-blue-diamond-offset-y: -324px;
$icon-blue-diamond-width: 15px;
$icon-blue-diamond-height: 15px;
$icon-blue-diamond-total-width: 450px;
$icon-blue-diamond-total-height: 400px;
$icon-blue-diamond-image: '../img/icons.png';
$icon-blue-diamond: (430px, 324px, -430px, -324px, 15px, 15px, 450px, 400px, '../img/icons.png', 'icon-blue-diamond', );
$icon-carousel-child-next-name: 'icon-carousel-child-next';
$icon-carousel-child-next-x: 400px;
$icon-carousel-child-next-y: 122px;
$icon-carousel-child-next-offset-x: -400px;
$icon-carousel-child-next-offset-y: -122px;
$icon-carousel-child-next-width: 20px;
$icon-carousel-child-next-height: 44px;
$icon-carousel-child-next-total-width: 450px;
$icon-carousel-child-next-total-height: 400px;
$icon-carousel-child-next-image: '../img/icons.png';
$icon-carousel-child-next: (400px, 122px, -400px, -122px, 20px, 44px, 450px, 400px, '../img/icons.png', 'icon-carousel-child-next', );
$icon-carousel-child-prev-name: 'icon-carousel-child-prev';
$icon-carousel-child-prev-x: 400px;
$icon-carousel-child-prev-y: 166px;
$icon-carousel-child-prev-offset-x: -400px;
$icon-carousel-child-prev-offset-y: -166px;
$icon-carousel-child-prev-width: 20px;
$icon-carousel-child-prev-height: 44px;
$icon-carousel-child-prev-total-width: 450px;
$icon-carousel-child-prev-total-height: 400px;
$icon-carousel-child-prev-image: '../img/icons.png';
$icon-carousel-child-prev: (400px, 166px, -400px, -166px, 20px, 44px, 450px, 400px, '../img/icons.png', 'icon-carousel-child-prev', );
$icon-carousel-next-name: 'icon-carousel-next';
$icon-carousel-next-x: 0px;
$icon-carousel-next-y: 100px;
$icon-carousel-next-offset-x: 0px;
$icon-carousel-next-offset-y: -100px;
$icon-carousel-next-width: 100px;
$icon-carousel-next-height: 100px;
$icon-carousel-next-total-width: 450px;
$icon-carousel-next-total-height: 400px;
$icon-carousel-next-image: '../img/icons.png';
$icon-carousel-next: (0px, 100px, 0px, -100px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-carousel-next', );
$icon-carousel-prev-name: 'icon-carousel-prev';
$icon-carousel-prev-x: 100px;
$icon-carousel-prev-y: 100px;
$icon-carousel-prev-offset-x: -100px;
$icon-carousel-prev-offset-y: -100px;
$icon-carousel-prev-width: 100px;
$icon-carousel-prev-height: 100px;
$icon-carousel-prev-total-width: 450px;
$icon-carousel-prev-total-height: 400px;
$icon-carousel-prev-image: '../img/icons.png';
$icon-carousel-prev: (100px, 100px, -100px, -100px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-carousel-prev', );
$icon-checked-name: 'icon-checked';
$icon-checked-x: 430px;
$icon-checked-y: 288px;
$icon-checked-offset-x: -430px;
$icon-checked-offset-y: -288px;
$icon-checked-width: 20px;
$icon-checked-height: 20px;
$icon-checked-total-width: 450px;
$icon-checked-total-height: 400px;
$icon-checked-image: '../img/icons.png';
$icon-checked: (430px, 288px, -430px, -288px, 20px, 20px, 450px, 400px, '../img/icons.png', 'icon-checked', );
$icon-circle-minus-name: 'icon-circle-minus';
$icon-circle-minus-x: 400px;
$icon-circle-minus-y: 375px;
$icon-circle-minus-offset-x: -400px;
$icon-circle-minus-offset-y: -375px;
$icon-circle-minus-width: 24px;
$icon-circle-minus-height: 24px;
$icon-circle-minus-total-width: 450px;
$icon-circle-minus-total-height: 400px;
$icon-circle-minus-image: '../img/icons.png';
$icon-circle-minus: (400px, 375px, -400px, -375px, 24px, 24px, 450px, 400px, '../img/icons.png', 'icon-circle-minus', );
$icon-circle-plus-name: 'icon-circle-plus';
$icon-circle-plus-x: 126px;
$icon-circle-plus-y: 372px;
$icon-circle-plus-offset-x: -126px;
$icon-circle-plus-offset-y: -372px;
$icon-circle-plus-width: 24px;
$icon-circle-plus-height: 24px;
$icon-circle-plus-total-width: 450px;
$icon-circle-plus-total-height: 400px;
$icon-circle-plus-image: '../img/icons.png';
$icon-circle-plus: (126px, 372px, -126px, -372px, 24px, 24px, 450px, 400px, '../img/icons.png', 'icon-circle-plus', );
$icon-cloud-name: 'icon-cloud';
$icon-cloud-x: 190px;
$icon-cloud-y: 300px;
$icon-cloud-offset-x: -190px;
$icon-cloud-offset-y: -300px;
$icon-cloud-width: 36px;
$icon-cloud-height: 36px;
$icon-cloud-total-width: 450px;
$icon-cloud-total-height: 400px;
$icon-cloud-image: '../img/icons.png';
$icon-cloud: (190px, 300px, -190px, -300px, 36px, 36px, 450px, 400px, '../img/icons.png', 'icon-cloud', );
$icon-danger-name: 'icon-danger';
$icon-danger-x: 400px;
$icon-danger-y: 210px;
$icon-danger-offset-x: -400px;
$icon-danger-offset-y: -210px;
$icon-danger-width: 30px;
$icon-danger-height: 28px;
$icon-danger-total-width: 450px;
$icon-danger-total-height: 400px;
$icon-danger-image: '../img/icons.png';
$icon-danger: (400px, 210px, -400px, -210px, 30px, 28px, 450px, 400px, '../img/icons.png', 'icon-danger', );
$icon-disabled-name: 'icon-disabled';
$icon-disabled-x: 400px;
$icon-disabled-y: 322px;
$icon-disabled-offset-x: -400px;
$icon-disabled-offset-y: -322px;
$icon-disabled-width: 28px;
$icon-disabled-height: 28px;
$icon-disabled-total-width: 450px;
$icon-disabled-total-height: 400px;
$icon-disabled-image: '../img/icons.png';
$icon-disabled: (400px, 322px, -400px, -322px, 28px, 28px, 450px, 400px, '../img/icons.png', 'icon-disabled', );
$icon-document-name: 'icon-document';
$icon-document-x: 352px;
$icon-document-y: 300px;
$icon-document-offset-x: -352px;
$icon-document-offset-y: -300px;
$icon-document-width: 30px;
$icon-document-height: 30px;
$icon-document-total-width: 450px;
$icon-document-total-height: 400px;
$icon-document-image: '../img/icons.png';
$icon-document: (352px, 300px, -352px, -300px, 30px, 30px, 450px, 400px, '../img/icons.png', 'icon-document', );
$icon-download-name: 'icon-download';
$icon-download-x: 200px;
$icon-download-y: 200px;
$icon-download-offset-x: -200px;
$icon-download-offset-y: -200px;
$icon-download-width: 100px;
$icon-download-height: 100px;
$icon-download-total-width: 450px;
$icon-download-total-height: 400px;
$icon-download-image: '../img/icons.png';
$icon-download: (200px, 200px, -200px, -200px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-download', );
$icon-drop-arrow-bg-name: 'icon-drop-arrow-bg';
$icon-drop-arrow-bg-x: 140px;
$icon-drop-arrow-bg-y: 300px;
$icon-drop-arrow-bg-offset-x: -140px;
$icon-drop-arrow-bg-offset-y: -300px;
$icon-drop-arrow-bg-width: 50px;
$icon-drop-arrow-bg-height: 50px;
$icon-drop-arrow-bg-total-width: 450px;
$icon-drop-arrow-bg-total-height: 400px;
$icon-drop-arrow-bg-image: '../img/icons.png';
$icon-drop-arrow-bg: (140px, 300px, -140px, -300px, 50px, 50px, 450px, 400px, '../img/icons.png', 'icon-drop-arrow-bg', );
$icon-drop-arrow-name: 'icon-drop-arrow';
$icon-drop-arrow-x: 430px;
$icon-drop-arrow-y: 339px;
$icon-drop-arrow-offset-x: -430px;
$icon-drop-arrow-offset-y: -339px;
$icon-drop-arrow-width: 19px;
$icon-drop-arrow-height: 10px;
$icon-drop-arrow-total-width: 450px;
$icon-drop-arrow-total-height: 400px;
$icon-drop-arrow-image: '../img/icons.png';
$icon-drop-arrow: (430px, 339px, -430px, -339px, 19px, 10px, 450px, 400px, '../img/icons.png', 'icon-drop-arrow', );
$icon-envelope-list-name: 'icon-envelope-list';
$icon-envelope-list-x: 300px;
$icon-envelope-list-y: 200px;
$icon-envelope-list-offset-x: -300px;
$icon-envelope-list-offset-y: -200px;
$icon-envelope-list-width: 100px;
$icon-envelope-list-height: 100px;
$icon-envelope-list-total-width: 450px;
$icon-envelope-list-total-height: 400px;
$icon-envelope-list-image: '../img/icons.png';
$icon-envelope-list: (300px, 200px, -300px, -200px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-envelope-list', );
$icon-facebook-round-clear-name: 'icon-facebook-round-clear';
$icon-facebook-round-clear-x: 316px;
$icon-facebook-round-clear-y: 350px;
$icon-facebook-round-clear-offset-x: -316px;
$icon-facebook-round-clear-offset-y: -350px;
$icon-facebook-round-clear-width: 22px;
$icon-facebook-round-clear-height: 22px;
$icon-facebook-round-clear-total-width: 450px;
$icon-facebook-round-clear-total-height: 400px;
$icon-facebook-round-clear-image: '../img/icons.png';
$icon-facebook-round-clear: (316px, 350px, -316px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-facebook-round-clear', );
$icon-facebook-round-hover-name: 'icon-facebook-round-hover';
$icon-facebook-round-hover-x: 294px;
$icon-facebook-round-hover-y: 350px;
$icon-facebook-round-hover-offset-x: -294px;
$icon-facebook-round-hover-offset-y: -350px;
$icon-facebook-round-hover-width: 22px;
$icon-facebook-round-hover-height: 22px;
$icon-facebook-round-hover-total-width: 450px;
$icon-facebook-round-hover-total-height: 400px;
$icon-facebook-round-hover-image: '../img/icons.png';
$icon-facebook-round-hover: (294px, 350px, -294px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-facebook-round-hover', );
$icon-facebook-round-name: 'icon-facebook-round';
$icon-facebook-round-x: 140px;
$icon-facebook-round-y: 350px;
$icon-facebook-round-offset-x: -140px;
$icon-facebook-round-offset-y: -350px;
$icon-facebook-round-width: 22px;
$icon-facebook-round-height: 22px;
$icon-facebook-round-total-width: 450px;
$icon-facebook-round-total-height: 400px;
$icon-facebook-round-image: '../img/icons.png';
$icon-facebook-round: (140px, 350px, -140px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-facebook-round', );
$icon-facebook-small-name: 'icon-facebook-small';
$icon-facebook-small-x: 235px;
$icon-facebook-small-y: 372px;
$icon-facebook-small-offset-x: -235px;
$icon-facebook-small-offset-y: -372px;
$icon-facebook-small-width: 21px;
$icon-facebook-small-height: 17px;
$icon-facebook-small-total-width: 450px;
$icon-facebook-small-total-height: 400px;
$icon-facebook-small-image: '../img/icons.png';
$icon-facebook-small: (235px, 372px, -235px, -372px, 21px, 17px, 450px, 400px, '../img/icons.png', 'icon-facebook-small', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 100px;
$icon-facebook-y: 200px;
$icon-facebook-offset-x: -100px;
$icon-facebook-offset-y: -200px;
$icon-facebook-width: 100px;
$icon-facebook-height: 100px;
$icon-facebook-total-width: 450px;
$icon-facebook-total-height: 400px;
$icon-facebook-image: '../img/icons.png';
$icon-facebook: (100px, 200px, -100px, -200px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-facebook', );
$icon-favorite-off-name: 'icon-favorite-off';
$icon-favorite-off-x: 0px;
$icon-favorite-off-y: 200px;
$icon-favorite-off-offset-x: 0px;
$icon-favorite-off-offset-y: -200px;
$icon-favorite-off-width: 100px;
$icon-favorite-off-height: 100px;
$icon-favorite-off-total-width: 450px;
$icon-favorite-off-total-height: 400px;
$icon-favorite-off-image: '../img/icons.png';
$icon-favorite-off: (0px, 200px, 0px, -200px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-favorite-off', );
$icon-favorite-on-name: 'icon-favorite-on';
$icon-favorite-on-x: 100px;
$icon-favorite-on-y: 0px;
$icon-favorite-on-offset-x: -100px;
$icon-favorite-on-offset-y: 0px;
$icon-favorite-on-width: 100px;
$icon-favorite-on-height: 100px;
$icon-favorite-on-total-width: 450px;
$icon-favorite-on-total-height: 400px;
$icon-favorite-on-image: '../img/icons.png';
$icon-favorite-on: (100px, 0px, -100px, 0px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-favorite-on', );
$icon-findmsds-list-name: 'icon-findmsds-list';
$icon-findmsds-list-x: 400px;
$icon-findmsds-list-y: 60px;
$icon-findmsds-list-offset-x: -400px;
$icon-findmsds-list-offset-y: -60px;
$icon-findmsds-list-width: 30px;
$icon-findmsds-list-height: 30px;
$icon-findmsds-list-total-width: 450px;
$icon-findmsds-list-total-height: 400px;
$icon-findmsds-list-image: '../img/icons.png';
$icon-findmsds-list: (400px, 60px, -400px, -60px, 30px, 30px, 450px, 400px, '../img/icons.png', 'icon-findmsds-list', );
$icon-globe-large-name: 'icon-globe-large';
$icon-globe-large-x: 100px;
$icon-globe-large-y: 372px;
$icon-globe-large-offset-x: -100px;
$icon-globe-large-offset-y: -372px;
$icon-globe-large-width: 26px;
$icon-globe-large-height: 26px;
$icon-globe-large-total-width: 450px;
$icon-globe-large-total-height: 400px;
$icon-globe-large-image: '../img/icons.png';
$icon-globe-large: (100px, 372px, -100px, -372px, 26px, 26px, 450px, 400px, '../img/icons.png', 'icon-globe-large', );
$icon-globe-small-name: 'icon-globe-small';
$icon-globe-small-x: 430px;
$icon-globe-small-y: 308px;
$icon-globe-small-offset-x: -430px;
$icon-globe-small-offset-y: -308px;
$icon-globe-small-width: 16px;
$icon-globe-small-height: 16px;
$icon-globe-small-total-width: 450px;
$icon-globe-small-total-height: 400px;
$icon-globe-small-image: '../img/icons.png';
$icon-globe-small: (430px, 308px, -430px, -308px, 16px, 16px, 450px, 400px, '../img/icons.png', 'icon-globe-small', );
$icon-linkedin-round-clear-name: 'icon-linkedin-round-clear';
$icon-linkedin-round-clear-x: 250px;
$icon-linkedin-round-clear-y: 350px;
$icon-linkedin-round-clear-offset-x: -250px;
$icon-linkedin-round-clear-offset-y: -350px;
$icon-linkedin-round-clear-width: 22px;
$icon-linkedin-round-clear-height: 22px;
$icon-linkedin-round-clear-total-width: 450px;
$icon-linkedin-round-clear-total-height: 400px;
$icon-linkedin-round-clear-image: '../img/icons.png';
$icon-linkedin-round-clear: (250px, 350px, -250px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-linkedin-round-clear', );
$icon-linkedin-round-hover-name: 'icon-linkedin-round-hover';
$icon-linkedin-round-hover-x: 228px;
$icon-linkedin-round-hover-y: 350px;
$icon-linkedin-round-hover-offset-x: -228px;
$icon-linkedin-round-hover-offset-y: -350px;
$icon-linkedin-round-hover-width: 22px;
$icon-linkedin-round-hover-height: 22px;
$icon-linkedin-round-hover-total-width: 450px;
$icon-linkedin-round-hover-total-height: 400px;
$icon-linkedin-round-hover-image: '../img/icons.png';
$icon-linkedin-round-hover: (228px, 350px, -228px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-linkedin-round-hover', );
$icon-linkedin-round-name: 'icon-linkedin-round';
$icon-linkedin-round-x: 272px;
$icon-linkedin-round-y: 350px;
$icon-linkedin-round-offset-x: -272px;
$icon-linkedin-round-offset-y: -350px;
$icon-linkedin-round-width: 22px;
$icon-linkedin-round-height: 22px;
$icon-linkedin-round-total-width: 450px;
$icon-linkedin-round-total-height: 400px;
$icon-linkedin-round-image: '../img/icons.png';
$icon-linkedin-round: (272px, 350px, -272px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-linkedin-round', );
$icon-map-pin-blue-small-name: 'icon-map-pin-blue-small';
$icon-map-pin-blue-small-x: 430px;
$icon-map-pin-blue-small-y: 34px;
$icon-map-pin-blue-small-offset-x: -430px;
$icon-map-pin-blue-small-offset-y: -34px;
$icon-map-pin-blue-small-width: 20px;
$icon-map-pin-blue-small-height: 34px;
$icon-map-pin-blue-small-total-width: 450px;
$icon-map-pin-blue-small-total-height: 400px;
$icon-map-pin-blue-small-image: '../img/icons.png';
$icon-map-pin-blue-small: (430px, 34px, -430px, -34px, 20px, 34px, 450px, 400px, '../img/icons.png', 'icon-map-pin-blue-small', );
$icon-map-pin-blue-name: 'icon-map-pin-blue';
$icon-map-pin-blue-x: 100px;
$icon-map-pin-blue-y: 300px;
$icon-map-pin-blue-offset-x: -100px;
$icon-map-pin-blue-offset-y: -300px;
$icon-map-pin-blue-width: 40px;
$icon-map-pin-blue-height: 72px;
$icon-map-pin-blue-total-width: 450px;
$icon-map-pin-blue-total-height: 400px;
$icon-map-pin-blue-image: '../img/icons.png';
$icon-map-pin-blue: (100px, 300px, -100px, -300px, 40px, 72px, 450px, 400px, '../img/icons.png', 'icon-map-pin-blue', );
$icon-map-pin-red-small-name: 'icon-map-pin-red-small';
$icon-map-pin-red-small-x: 430px;
$icon-map-pin-red-small-y: 0px;
$icon-map-pin-red-small-offset-x: -430px;
$icon-map-pin-red-small-offset-y: 0px;
$icon-map-pin-red-small-width: 20px;
$icon-map-pin-red-small-height: 34px;
$icon-map-pin-red-small-total-width: 450px;
$icon-map-pin-red-small-total-height: 400px;
$icon-map-pin-red-small-image: '../img/icons.png';
$icon-map-pin-red-small: (430px, 0px, -430px, 0px, 20px, 34px, 450px, 400px, '../img/icons.png', 'icon-map-pin-red-small', );
$icon-nav-main-menu-name: 'icon-nav-main-menu';
$icon-nav-main-menu-x: 300px;
$icon-nav-main-menu-y: 0px;
$icon-nav-main-menu-offset-x: -300px;
$icon-nav-main-menu-offset-y: 0px;
$icon-nav-main-menu-width: 100px;
$icon-nav-main-menu-height: 100px;
$icon-nav-main-menu-total-width: 450px;
$icon-nav-main-menu-total-height: 400px;
$icon-nav-main-menu-image: '../img/icons.png';
$icon-nav-main-menu: (300px, 0px, -300px, 0px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-nav-main-menu', );
$icon-nav-main-search-close-name: 'icon-nav-main-search-close';
$icon-nav-main-search-close-x: 0px;
$icon-nav-main-search-close-y: 0px;
$icon-nav-main-search-close-offset-x: 0px;
$icon-nav-main-search-close-offset-y: 0px;
$icon-nav-main-search-close-width: 100px;
$icon-nav-main-search-close-height: 100px;
$icon-nav-main-search-close-total-width: 450px;
$icon-nav-main-search-close-total-height: 400px;
$icon-nav-main-search-close-image: '../img/icons.png';
$icon-nav-main-search-close: (0px, 0px, 0px, 0px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-nav-main-search-close', );
$icon-nav-main-search-name: 'icon-nav-main-search';
$icon-nav-main-search-x: 200px;
$icon-nav-main-search-y: 0px;
$icon-nav-main-search-offset-x: -200px;
$icon-nav-main-search-offset-y: 0px;
$icon-nav-main-search-width: 100px;
$icon-nav-main-search-height: 100px;
$icon-nav-main-search-total-width: 450px;
$icon-nav-main-search-total-height: 400px;
$icon-nav-main-search-image: '../img/icons.png';
$icon-nav-main-search: (200px, 0px, -200px, 0px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-nav-main-search', );
$icon-newsletter-list-name: 'icon-newsletter-list';
$icon-newsletter-list-x: 292px;
$icon-newsletter-list-y: 300px;
$icon-newsletter-list-offset-x: -292px;
$icon-newsletter-list-offset-y: -300px;
$icon-newsletter-list-width: 30px;
$icon-newsletter-list-height: 30px;
$icon-newsletter-list-total-width: 450px;
$icon-newsletter-list-total-height: 400px;
$icon-newsletter-list-image: '../img/icons.png';
$icon-newsletter-list: (292px, 300px, -292px, -300px, 30px, 30px, 450px, 400px, '../img/icons.png', 'icon-newsletter-list', );
$icon-pin-dark-blue-name: 'icon-pin-dark-blue';
$icon-pin-dark-blue-x: 430px;
$icon-pin-dark-blue-y: 68px;
$icon-pin-dark-blue-offset-x: -430px;
$icon-pin-dark-blue-offset-y: -68px;
$icon-pin-dark-blue-width: 19px;
$icon-pin-dark-blue-height: 33px;
$icon-pin-dark-blue-total-width: 450px;
$icon-pin-dark-blue-total-height: 400px;
$icon-pin-dark-blue-image: '../img/icons.png';
$icon-pin-dark-blue: (430px, 68px, -430px, -68px, 19px, 33px, 450px, 400px, '../img/icons.png', 'icon-pin-dark-blue', );
$icon-pin-gray-name: 'icon-pin-gray';
$icon-pin-gray-x: 430px;
$icon-pin-gray-y: 101px;
$icon-pin-gray-offset-x: -430px;
$icon-pin-gray-offset-y: -101px;
$icon-pin-gray-width: 19px;
$icon-pin-gray-height: 33px;
$icon-pin-gray-total-width: 450px;
$icon-pin-gray-total-height: 400px;
$icon-pin-gray-image: '../img/icons.png';
$icon-pin-gray: (430px, 101px, -430px, -101px, 19px, 33px, 450px, 400px, '../img/icons.png', 'icon-pin-gray', );
$icon-pin-green-name: 'icon-pin-green';
$icon-pin-green-x: 430px;
$icon-pin-green-y: 134px;
$icon-pin-green-offset-x: -430px;
$icon-pin-green-offset-y: -134px;
$icon-pin-green-width: 19px;
$icon-pin-green-height: 33px;
$icon-pin-green-total-width: 450px;
$icon-pin-green-total-height: 400px;
$icon-pin-green-image: '../img/icons.png';
$icon-pin-green: (430px, 134px, -430px, -134px, 19px, 33px, 450px, 400px, '../img/icons.png', 'icon-pin-green', );
$icon-pin-light-blue-name: 'icon-pin-light-blue';
$icon-pin-light-blue-x: 430px;
$icon-pin-light-blue-y: 167px;
$icon-pin-light-blue-offset-x: -430px;
$icon-pin-light-blue-offset-y: -167px;
$icon-pin-light-blue-width: 19px;
$icon-pin-light-blue-height: 33px;
$icon-pin-light-blue-total-width: 450px;
$icon-pin-light-blue-total-height: 400px;
$icon-pin-light-blue-image: '../img/icons.png';
$icon-pin-light-blue: (430px, 167px, -430px, -167px, 19px, 33px, 450px, 400px, '../img/icons.png', 'icon-pin-light-blue', );
$icon-pin-orange-name: 'icon-pin-orange';
$icon-pin-orange-x: 430px;
$icon-pin-orange-y: 200px;
$icon-pin-orange-offset-x: -430px;
$icon-pin-orange-offset-y: -200px;
$icon-pin-orange-width: 19px;
$icon-pin-orange-height: 33px;
$icon-pin-orange-total-width: 450px;
$icon-pin-orange-total-height: 400px;
$icon-pin-orange-image: '../img/icons.png';
$icon-pin-orange: (430px, 200px, -430px, -200px, 19px, 33px, 450px, 400px, '../img/icons.png', 'icon-pin-orange', );
$icon-pin-red-name: 'icon-pin-red';
$icon-pin-red-x: 430px;
$icon-pin-red-y: 233px;
$icon-pin-red-offset-x: -430px;
$icon-pin-red-offset-y: -233px;
$icon-pin-red-width: 19px;
$icon-pin-red-height: 33px;
$icon-pin-red-total-width: 450px;
$icon-pin-red-total-height: 400px;
$icon-pin-red-image: '../img/icons.png';
$icon-pin-red: (430px, 233px, -430px, -233px, 19px, 33px, 450px, 400px, '../img/icons.png', 'icon-pin-red', );
$icon-popup-arrow-name: 'icon-popup-arrow';
$icon-popup-arrow-x: 400px;
$icon-popup-arrow-y: 350px;
$icon-popup-arrow-offset-x: -400px;
$icon-popup-arrow-offset-y: -350px;
$icon-popup-arrow-width: 30px;
$icon-popup-arrow-height: 25px;
$icon-popup-arrow-total-width: 450px;
$icon-popup-arrow-total-height: 400px;
$icon-popup-arrow-image: '../img/icons.png';
$icon-popup-arrow: (400px, 350px, -400px, -350px, 30px, 25px, 450px, 400px, '../img/icons.png', 'icon-popup-arrow', );
$icon-primary-pin-name: 'icon-primary-pin';
$icon-primary-pin-x: 0px;
$icon-primary-pin-y: 300px;
$icon-primary-pin-offset-x: 0px;
$icon-primary-pin-offset-y: -300px;
$icon-primary-pin-width: 100px;
$icon-primary-pin-height: 100px;
$icon-primary-pin-total-width: 450px;
$icon-primary-pin-total-height: 400px;
$icon-primary-pin-image: '../img/icons.png';
$icon-primary-pin: (0px, 300px, 0px, -300px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-primary-pin', );
$icon-question-name: 'icon-question';
$icon-question-x: 400px;
$icon-question-y: 294px;
$icon-question-offset-x: -400px;
$icon-question-offset-y: -294px;
$icon-question-width: 28px;
$icon-question-height: 28px;
$icon-question-total-width: 450px;
$icon-question-total-height: 400px;
$icon-question-image: '../img/icons.png';
$icon-question: (400px, 294px, -400px, -294px, 28px, 28px, 450px, 400px, '../img/icons.png', 'icon-question', );
$icon-search-white-name: 'icon-search-white';
$icon-search-white-x: 193px;
$icon-search-white-y: 372px;
$icon-search-white-offset-x: -193px;
$icon-search-white-offset-y: -372px;
$icon-search-white-width: 21px;
$icon-search-white-height: 21px;
$icon-search-white-total-width: 450px;
$icon-search-white-total-height: 400px;
$icon-search-white-image: '../img/icons.png';
$icon-search-white: (193px, 372px, -193px, -372px, 21px, 21px, 450px, 400px, '../img/icons.png', 'icon-search-white', );
$icon-search-name: 'icon-search';
$icon-search-x: 260px;
$icon-search-y: 300px;
$icon-search-offset-x: -260px;
$icon-search-offset-y: -300px;
$icon-search-width: 32px;
$icon-search-height: 32px;
$icon-search-total-width: 450px;
$icon-search-total-height: 400px;
$icon-search-image: '../img/icons.png';
$icon-search: (260px, 300px, -260px, -300px, 32px, 32px, 450px, 400px, '../img/icons.png', 'icon-search', );
$icon-share-orange-name: 'icon-share-orange';
$icon-share-orange-x: 322px;
$icon-share-orange-y: 300px;
$icon-share-orange-offset-x: -322px;
$icon-share-orange-offset-y: -300px;
$icon-share-orange-width: 30px;
$icon-share-orange-height: 30px;
$icon-share-orange-total-width: 450px;
$icon-share-orange-total-height: 400px;
$icon-share-orange-image: '../img/icons.png';
$icon-share-orange: (322px, 300px, -322px, -300px, 30px, 30px, 450px, 400px, '../img/icons.png', 'icon-share-orange', );
$icon-share-name: 'icon-share';
$icon-share-x: 430px;
$icon-share-y: 266px;
$icon-share-offset-x: -430px;
$icon-share-offset-y: -266px;
$icon-share-width: 19px;
$icon-share-height: 22px;
$icon-share-total-width: 450px;
$icon-share-total-height: 400px;
$icon-share-image: '../img/icons.png';
$icon-share: (430px, 266px, -430px, -266px, 19px, 22px, 450px, 400px, '../img/icons.png', 'icon-share', );
$icon-success-filled-name: 'icon-success-filled';
$icon-success-filled-x: 226px;
$icon-success-filled-y: 300px;
$icon-success-filled-offset-x: -226px;
$icon-success-filled-offset-y: -300px;
$icon-success-filled-width: 34px;
$icon-success-filled-height: 34px;
$icon-success-filled-total-width: 450px;
$icon-success-filled-total-height: 400px;
$icon-success-filled-image: '../img/icons.png';
$icon-success-filled: (226px, 300px, -226px, -300px, 34px, 34px, 450px, 400px, '../img/icons.png', 'icon-success-filled', );
$icon-success-name: 'icon-success';
$icon-success-x: 400px;
$icon-success-y: 266px;
$icon-success-offset-x: -400px;
$icon-success-offset-y: -266px;
$icon-success-width: 28px;
$icon-success-height: 28px;
$icon-success-total-width: 450px;
$icon-success-total-height: 400px;
$icon-success-image: '../img/icons.png';
$icon-success: (400px, 266px, -400px, -266px, 28px, 28px, 450px, 400px, '../img/icons.png', 'icon-success', );
$icon-telephone-list-name: 'icon-telephone-list';
$icon-telephone-list-x: 400px;
$icon-telephone-list-y: 0px;
$icon-telephone-list-offset-x: -400px;
$icon-telephone-list-offset-y: 0px;
$icon-telephone-list-width: 30px;
$icon-telephone-list-height: 30px;
$icon-telephone-list-total-width: 450px;
$icon-telephone-list-total-height: 400px;
$icon-telephone-list-image: '../img/icons.png';
$icon-telephone-list: (400px, 0px, -400px, 0px, 30px, 30px, 450px, 400px, '../img/icons.png', 'icon-telephone-list', );
$icon-telephone-name: 'icon-telephone';
$icon-telephone-x: 300px;
$icon-telephone-y: 100px;
$icon-telephone-offset-x: -300px;
$icon-telephone-offset-y: -100px;
$icon-telephone-width: 100px;
$icon-telephone-height: 100px;
$icon-telephone-total-width: 450px;
$icon-telephone-total-height: 400px;
$icon-telephone-image: '../img/icons.png';
$icon-telephone: (300px, 100px, -300px, -100px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-telephone', );
$icon-twitter-round-clear-name: 'icon-twitter-round-clear';
$icon-twitter-round-clear-x: 360px;
$icon-twitter-round-clear-y: 350px;
$icon-twitter-round-clear-offset-x: -360px;
$icon-twitter-round-clear-offset-y: -350px;
$icon-twitter-round-clear-width: 22px;
$icon-twitter-round-clear-height: 22px;
$icon-twitter-round-clear-total-width: 450px;
$icon-twitter-round-clear-total-height: 400px;
$icon-twitter-round-clear-image: '../img/icons.png';
$icon-twitter-round-clear: (360px, 350px, -360px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-twitter-round-clear', );
$icon-twitter-round-hover-name: 'icon-twitter-round-hover';
$icon-twitter-round-hover-x: 150px;
$icon-twitter-round-hover-y: 372px;
$icon-twitter-round-hover-offset-x: -150px;
$icon-twitter-round-hover-offset-y: -372px;
$icon-twitter-round-hover-width: 22px;
$icon-twitter-round-hover-height: 22px;
$icon-twitter-round-hover-total-width: 450px;
$icon-twitter-round-hover-total-height: 400px;
$icon-twitter-round-hover-image: '../img/icons.png';
$icon-twitter-round-hover: (150px, 372px, -150px, -372px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-twitter-round-hover', );
$icon-twitter-round-name: 'icon-twitter-round';
$icon-twitter-round-x: 338px;
$icon-twitter-round-y: 350px;
$icon-twitter-round-offset-x: -338px;
$icon-twitter-round-offset-y: -350px;
$icon-twitter-round-width: 22px;
$icon-twitter-round-height: 22px;
$icon-twitter-round-total-width: 450px;
$icon-twitter-round-total-height: 400px;
$icon-twitter-round-image: '../img/icons.png';
$icon-twitter-round: (338px, 350px, -338px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-twitter-round', );
$icon-twitter-small-name: 'icon-twitter-small';
$icon-twitter-small-x: 214px;
$icon-twitter-small-y: 372px;
$icon-twitter-small-offset-x: -214px;
$icon-twitter-small-offset-y: -372px;
$icon-twitter-small-width: 21px;
$icon-twitter-small-height: 17px;
$icon-twitter-small-total-width: 450px;
$icon-twitter-small-total-height: 400px;
$icon-twitter-small-image: '../img/icons.png';
$icon-twitter-small: (214px, 372px, -214px, -372px, 21px, 17px, 450px, 400px, '../img/icons.png', 'icon-twitter-small', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 200px;
$icon-twitter-y: 100px;
$icon-twitter-offset-x: -200px;
$icon-twitter-offset-y: -100px;
$icon-twitter-width: 100px;
$icon-twitter-height: 100px;
$icon-twitter-total-width: 450px;
$icon-twitter-total-height: 400px;
$icon-twitter-image: '../img/icons.png';
$icon-twitter: (200px, 100px, -200px, -100px, 100px, 100px, 450px, 400px, '../img/icons.png', 'icon-twitter', );
$icon-warning-name: 'icon-warning';
$icon-warning-x: 400px;
$icon-warning-y: 238px;
$icon-warning-offset-x: -400px;
$icon-warning-offset-y: -238px;
$icon-warning-width: 30px;
$icon-warning-height: 28px;
$icon-warning-total-width: 450px;
$icon-warning-total-height: 400px;
$icon-warning-image: '../img/icons.png';
$icon-warning: (400px, 238px, -400px, -238px, 30px, 28px, 450px, 400px, '../img/icons.png', 'icon-warning', );
$icon-world-list-name: 'icon-world-list';
$icon-world-list-x: 400px;
$icon-world-list-y: 30px;
$icon-world-list-offset-x: -400px;
$icon-world-list-offset-y: -30px;
$icon-world-list-width: 30px;
$icon-world-list-height: 30px;
$icon-world-list-total-width: 450px;
$icon-world-list-total-height: 400px;
$icon-world-list-image: '../img/icons.png';
$icon-world-list: (400px, 30px, -400px, -30px, 30px, 30px, 450px, 400px, '../img/icons.png', 'icon-world-list', );
$icon-world-white-name: 'icon-world-white';
$icon-world-white-x: 172px;
$icon-world-white-y: 372px;
$icon-world-white-offset-x: -172px;
$icon-world-white-offset-y: -372px;
$icon-world-white-width: 21px;
$icon-world-white-height: 21px;
$icon-world-white-total-width: 450px;
$icon-world-white-total-height: 400px;
$icon-world-white-image: '../img/icons.png';
$icon-world-white: (172px, 372px, -172px, -372px, 21px, 21px, 450px, 400px, '../img/icons.png', 'icon-world-white', );
$icon-youtube-round-clear-name: 'icon-youtube-round-clear';
$icon-youtube-round-clear-x: 184px;
$icon-youtube-round-clear-y: 350px;
$icon-youtube-round-clear-offset-x: -184px;
$icon-youtube-round-clear-offset-y: -350px;
$icon-youtube-round-clear-width: 22px;
$icon-youtube-round-clear-height: 22px;
$icon-youtube-round-clear-total-width: 450px;
$icon-youtube-round-clear-total-height: 400px;
$icon-youtube-round-clear-image: '../img/icons.png';
$icon-youtube-round-clear: (184px, 350px, -184px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-youtube-round-clear', );
$icon-youtube-round-hover-name: 'icon-youtube-round-hover';
$icon-youtube-round-hover-x: 162px;
$icon-youtube-round-hover-y: 350px;
$icon-youtube-round-hover-offset-x: -162px;
$icon-youtube-round-hover-offset-y: -350px;
$icon-youtube-round-hover-width: 22px;
$icon-youtube-round-hover-height: 22px;
$icon-youtube-round-hover-total-width: 450px;
$icon-youtube-round-hover-total-height: 400px;
$icon-youtube-round-hover-image: '../img/icons.png';
$icon-youtube-round-hover: (162px, 350px, -162px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-youtube-round-hover', );
$icon-youtube-round-name: 'icon-youtube-round';
$icon-youtube-round-x: 206px;
$icon-youtube-round-y: 350px;
$icon-youtube-round-offset-x: -206px;
$icon-youtube-round-offset-y: -350px;
$icon-youtube-round-width: 22px;
$icon-youtube-round-height: 22px;
$icon-youtube-round-total-width: 450px;
$icon-youtube-round-total-height: 400px;
$icon-youtube-round-image: '../img/icons.png';
$icon-youtube-round: (206px, 350px, -206px, -350px, 22px, 22px, 450px, 400px, '../img/icons.png', 'icon-youtube-round', );
$spritesheet-width: 450px;
$spritesheet-height: 400px;
$spritesheet-image: '../img/icons.png';
$spritesheet-sprites: ($icon-badge-star, $icon-blue-diamond, $icon-carousel-child-next, $icon-carousel-child-prev, $icon-carousel-next, $icon-carousel-prev, $icon-checked, $icon-circle-minus, $icon-circle-plus, $icon-cloud, $icon-danger, $icon-disabled, $icon-document, $icon-download, $icon-drop-arrow-bg, $icon-drop-arrow, $icon-envelope-list, $icon-facebook-round-clear, $icon-facebook-round-hover, $icon-facebook-round, $icon-facebook-small, $icon-facebook, $icon-favorite-off, $icon-favorite-on, $icon-findmsds-list, $icon-globe-large, $icon-globe-small, $icon-linkedin-round-clear, $icon-linkedin-round-hover, $icon-linkedin-round, $icon-map-pin-blue-small, $icon-map-pin-blue, $icon-map-pin-red-small, $icon-nav-main-menu, $icon-nav-main-search-close, $icon-nav-main-search, $icon-newsletter-list, $icon-pin-dark-blue, $icon-pin-gray, $icon-pin-green, $icon-pin-light-blue, $icon-pin-orange, $icon-pin-red, $icon-popup-arrow, $icon-primary-pin, $icon-question, $icon-search-white, $icon-search, $icon-share-orange, $icon-share, $icon-success-filled, $icon-success, $icon-telephone-list, $icon-telephone, $icon-twitter-round-clear, $icon-twitter-round-hover, $icon-twitter-round, $icon-twitter-small, $icon-twitter, $icon-warning, $icon-world-list, $icon-world-white, $icon-youtube-round-clear, $icon-youtube-round-hover, $icon-youtube-round, );
$spritesheet: (450px, 400px, '../img/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
