// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$caret-smallest-name: 'caret-smallest';
$caret-smallest-x: 566px;
$caret-smallest-y: 262px;
$caret-smallest-offset-x: -566px;
$caret-smallest-offset-y: -262px;
$caret-smallest-width: 17px;
$caret-smallest-height: 10px;
$caret-smallest-total-width: 585px;
$caret-smallest-total-height: 503px;
$caret-smallest-image: '../img/icons.png';
$caret-smallest: (566px, 262px, -566px, -262px, 17px, 10px, 585px, 503px, '../img/icons.png', 'caret-smallest', );
$caret-name: 'caret';
$caret-x: 522px;
$caret-y: 274px;
$caret-offset-x: -522px;
$caret-offset-y: -274px;
$caret-width: 26px;
$caret-height: 18px;
$caret-total-width: 585px;
$caret-total-height: 503px;
$caret-image: '../img/icons.png';
$caret: (522px, 274px, -522px, -274px, 26px, 18px, 585px, 503px, '../img/icons.png', 'caret', );
$chat-name: 'chat';
$chat-x: 400px;
$chat-y: 100px;
$chat-offset-x: -400px;
$chat-offset-y: -100px;
$chat-width: 100px;
$chat-height: 100px;
$chat-total-width: 585px;
$chat-total-height: 503px;
$chat-image: '../img/icons.png';
$chat: (400px, 100px, -400px, -100px, 100px, 100px, 585px, 503px, '../img/icons.png', 'chat', );
$donate-name: 'donate';
$donate-x: 0px;
$donate-y: 100px;
$donate-offset-x: 0px;
$donate-offset-y: -100px;
$donate-width: 100px;
$donate-height: 100px;
$donate-total-width: 585px;
$donate-total-height: 503px;
$donate-image: '../img/icons.png';
$donate: (0px, 100px, 0px, -100px, 100px, 100px, 585px, 503px, '../img/icons.png', 'donate', );
$favorite-off-name: 'favorite-off';
$favorite-off-x: 100px;
$favorite-off-y: 100px;
$favorite-off-offset-x: -100px;
$favorite-off-offset-y: -100px;
$favorite-off-width: 100px;
$favorite-off-height: 100px;
$favorite-off-total-width: 585px;
$favorite-off-total-height: 503px;
$favorite-off-image: '../img/icons.png';
$favorite-off: (100px, 100px, -100px, -100px, 100px, 100px, 585px, 503px, '../img/icons.png', 'favorite-off', );
$favorite-on-name: 'favorite-on';
$favorite-on-x: 200px;
$favorite-on-y: 0px;
$favorite-on-offset-x: -200px;
$favorite-on-offset-y: 0px;
$favorite-on-width: 100px;
$favorite-on-height: 100px;
$favorite-on-total-width: 585px;
$favorite-on-total-height: 503px;
$favorite-on-image: '../img/icons.png';
$favorite-on: (200px, 0px, -200px, 0px, 100px, 100px, 585px, 503px, '../img/icons.png', 'favorite-on', );
$flourish-horiz-name: 'flourish-horiz';
$flourish-horiz-x: 0px;
$flourish-horiz-y: 500px;
$flourish-horiz-offset-x: 0px;
$flourish-horiz-offset-y: -500px;
$flourish-horiz-width: 313px;
$flourish-horiz-height: 3px;
$flourish-horiz-total-width: 585px;
$flourish-horiz-total-height: 503px;
$flourish-horiz-image: '../img/icons.png';
$flourish-horiz: (0px, 500px, 0px, -500px, 313px, 3px, 585px, 503px, '../img/icons.png', 'flourish-horiz', );
$flourish-vert-name: 'flourish-vert';
$flourish-vert-x: 500px;
$flourish-vert-y: 317px;
$flourish-vert-offset-x: -500px;
$flourish-vert-offset-y: -317px;
$flourish-vert-width: 2px;
$flourish-vert-height: 55px;
$flourish-vert-total-width: 585px;
$flourish-vert-total-height: 503px;
$flourish-vert-image: '../img/icons.png';
$flourish-vert: (500px, 317px, -500px, -317px, 2px, 55px, 585px, 503px, '../img/icons.png', 'flourish-vert', );
$flower-name: 'flower';
$flower-x: 283px;
$flower-y: 400px;
$flower-offset-x: -283px;
$flower-offset-y: -400px;
$flower-width: 87px;
$flower-height: 71px;
$flower-total-width: 585px;
$flower-total-height: 503px;
$flower-image: '../img/icons.png';
$flower: (283px, 400px, -283px, -400px, 87px, 71px, 585px, 503px, '../img/icons.png', 'flower', );
$funeral-name: 'funeral';
$funeral-x: 200px;
$funeral-y: 200px;
$funeral-offset-x: -200px;
$funeral-offset-y: -200px;
$funeral-width: 100px;
$funeral-height: 100px;
$funeral-total-width: 585px;
$funeral-total-height: 503px;
$funeral-image: '../img/icons.png';
$funeral: (200px, 200px, -200px, -200px, 100px, 100px, 585px, 503px, '../img/icons.png', 'funeral', );
$gift-name: 'gift';
$gift-x: 300px;
$gift-y: 0px;
$gift-offset-x: -300px;
$gift-offset-y: 0px;
$gift-width: 100px;
$gift-height: 100px;
$gift-total-width: 585px;
$gift-total-height: 503px;
$gift-image: '../img/icons.png';
$gift: (300px, 0px, -300px, 0px, 100px, 100px, 585px, 503px, '../img/icons.png', 'gift', );
$icon-badge-star-name: 'icon-badge-star';
$icon-badge-star-x: 500px;
$icon-badge-star-y: 140px;
$icon-badge-star-offset-x: -500px;
$icon-badge-star-offset-y: -140px;
$icon-badge-star-width: 28px;
$icon-badge-star-height: 32px;
$icon-badge-star-total-width: 585px;
$icon-badge-star-total-height: 503px;
$icon-badge-star-image: '../img/icons.png';
$icon-badge-star: (500px, 140px, -500px, -140px, 28px, 32px, 585px, 503px, '../img/icons.png', 'icon-badge-star', );
$icon-blue-diamond-name: 'icon-blue-diamond';
$icon-blue-diamond-x: 566px;
$icon-blue-diamond-y: 230px;
$icon-blue-diamond-offset-x: -566px;
$icon-blue-diamond-offset-y: -230px;
$icon-blue-diamond-width: 15px;
$icon-blue-diamond-height: 15px;
$icon-blue-diamond-total-width: 585px;
$icon-blue-diamond-total-height: 503px;
$icon-blue-diamond-image: '../img/icons.png';
$icon-blue-diamond: (566px, 230px, -566px, -230px, 15px, 15px, 585px, 503px, '../img/icons.png', 'icon-blue-diamond', );
$icon-carousel-next-name: 'icon-carousel-next';
$icon-carousel-next-x: 0px;
$icon-carousel-next-y: 300px;
$icon-carousel-next-offset-x: 0px;
$icon-carousel-next-offset-y: -300px;
$icon-carousel-next-width: 100px;
$icon-carousel-next-height: 100px;
$icon-carousel-next-total-width: 585px;
$icon-carousel-next-total-height: 503px;
$icon-carousel-next-image: '../img/icons.png';
$icon-carousel-next: (0px, 300px, 0px, -300px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-carousel-next', );
$icon-carousel-prev-name: 'icon-carousel-prev';
$icon-carousel-prev-x: 100px;
$icon-carousel-prev-y: 300px;
$icon-carousel-prev-offset-x: -100px;
$icon-carousel-prev-offset-y: -300px;
$icon-carousel-prev-width: 100px;
$icon-carousel-prev-height: 100px;
$icon-carousel-prev-total-width: 585px;
$icon-carousel-prev-total-height: 503px;
$icon-carousel-prev-image: '../img/icons.png';
$icon-carousel-prev: (100px, 300px, -100px, -300px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-carousel-prev', );
$icon-checked-name: 'icon-checked';
$icon-checked-x: 542px;
$icon-checked-y: 296px;
$icon-checked-offset-x: -542px;
$icon-checked-offset-y: -296px;
$icon-checked-width: 20px;
$icon-checked-height: 20px;
$icon-checked-total-width: 585px;
$icon-checked-total-height: 503px;
$icon-checked-image: '../img/icons.png';
$icon-checked: (542px, 296px, -542px, -296px, 20px, 20px, 585px, 503px, '../img/icons.png', 'icon-checked', );
$icon-circle-minus-name: 'icon-circle-minus';
$icon-circle-minus-x: 558px;
$icon-circle-minus-y: 140px;
$icon-circle-minus-offset-x: -558px;
$icon-circle-minus-offset-y: -140px;
$icon-circle-minus-width: 24px;
$icon-circle-minus-height: 24px;
$icon-circle-minus-total-width: 585px;
$icon-circle-minus-total-height: 503px;
$icon-circle-minus-image: '../img/icons.png';
$icon-circle-minus: (558px, 140px, -558px, -140px, 24px, 24px, 585px, 503px, '../img/icons.png', 'icon-circle-minus', );
$icon-circle-plus-name: 'icon-circle-plus';
$icon-circle-plus-x: 500px;
$icon-circle-plus-y: 206px;
$icon-circle-plus-offset-x: -500px;
$icon-circle-plus-offset-y: -206px;
$icon-circle-plus-width: 24px;
$icon-circle-plus-height: 24px;
$icon-circle-plus-total-width: 585px;
$icon-circle-plus-total-height: 503px;
$icon-circle-plus-image: '../img/icons.png';
$icon-circle-plus: (500px, 206px, -500px, -206px, 24px, 24px, 585px, 503px, '../img/icons.png', 'icon-circle-plus', );
$icon-cloud-name: 'icon-cloud';
$icon-cloud-x: 541px;
$icon-cloud-y: 72px;
$icon-cloud-offset-x: -541px;
$icon-cloud-offset-y: -72px;
$icon-cloud-width: 36px;
$icon-cloud-height: 36px;
$icon-cloud-total-width: 585px;
$icon-cloud-total-height: 503px;
$icon-cloud-image: '../img/icons.png';
$icon-cloud: (541px, 72px, -541px, -72px, 36px, 36px, 585px, 503px, '../img/icons.png', 'icon-cloud', );
$icon-download-name: 'icon-download';
$icon-download-x: 400px;
$icon-download-y: 200px;
$icon-download-offset-x: -400px;
$icon-download-offset-y: -200px;
$icon-download-width: 100px;
$icon-download-height: 100px;
$icon-download-total-width: 585px;
$icon-download-total-height: 503px;
$icon-download-image: '../img/icons.png';
$icon-download: (400px, 200px, -400px, -200px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-download', );
$icon-drop-arrow-name: 'icon-drop-arrow';
$icon-drop-arrow-x: 566px;
$icon-drop-arrow-y: 252px;
$icon-drop-arrow-offset-x: -566px;
$icon-drop-arrow-offset-y: -252px;
$icon-drop-arrow-width: 19px;
$icon-drop-arrow-height: 10px;
$icon-drop-arrow-total-width: 585px;
$icon-drop-arrow-total-height: 503px;
$icon-drop-arrow-image: '../img/icons.png';
$icon-drop-arrow: (566px, 252px, -566px, -252px, 19px, 10px, 585px, 503px, '../img/icons.png', 'icon-drop-arrow', );
$icon-envelope-list-name: 'icon-envelope-list';
$icon-envelope-list-x: 0px;
$icon-envelope-list-y: 400px;
$icon-envelope-list-offset-x: 0px;
$icon-envelope-list-offset-y: -400px;
$icon-envelope-list-width: 100px;
$icon-envelope-list-height: 100px;
$icon-envelope-list-total-width: 585px;
$icon-envelope-list-total-height: 503px;
$icon-envelope-list-image: '../img/icons.png';
$icon-envelope-list: (0px, 400px, 0px, -400px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-envelope-list', );
$icon-facebook-round-clear-name: 'icon-facebook-round-clear';
$icon-facebook-round-clear-x: 544px;
$icon-facebook-round-clear-y: 230px;
$icon-facebook-round-clear-offset-x: -544px;
$icon-facebook-round-clear-offset-y: -230px;
$icon-facebook-round-clear-width: 22px;
$icon-facebook-round-clear-height: 22px;
$icon-facebook-round-clear-total-width: 585px;
$icon-facebook-round-clear-total-height: 503px;
$icon-facebook-round-clear-image: '../img/icons.png';
$icon-facebook-round-clear: (544px, 230px, -544px, -230px, 22px, 22px, 585px, 503px, '../img/icons.png', 'icon-facebook-round-clear', );
$icon-facebook-round-hover-name: 'icon-facebook-round-hover';
$icon-facebook-round-hover-x: 522px;
$icon-facebook-round-hover-y: 230px;
$icon-facebook-round-hover-offset-x: -522px;
$icon-facebook-round-hover-offset-y: -230px;
$icon-facebook-round-hover-width: 22px;
$icon-facebook-round-hover-height: 22px;
$icon-facebook-round-hover-total-width: 585px;
$icon-facebook-round-hover-total-height: 503px;
$icon-facebook-round-hover-image: '../img/icons.png';
$icon-facebook-round-hover: (522px, 230px, -522px, -230px, 22px, 22px, 585px, 503px, '../img/icons.png', 'icon-facebook-round-hover', );
$icon-facebook-round-name: 'icon-facebook-round';
$icon-facebook-round-x: 544px;
$icon-facebook-round-y: 252px;
$icon-facebook-round-offset-x: -544px;
$icon-facebook-round-offset-y: -252px;
$icon-facebook-round-width: 22px;
$icon-facebook-round-height: 22px;
$icon-facebook-round-total-width: 585px;
$icon-facebook-round-total-height: 503px;
$icon-facebook-round-image: '../img/icons.png';
$icon-facebook-round: (544px, 252px, -544px, -252px, 22px, 22px, 585px, 503px, '../img/icons.png', 'icon-facebook-round', );
$icon-facebook-small-name: 'icon-facebook-small';
$icon-facebook-small-x: 562px;
$icon-facebook-small-y: 296px;
$icon-facebook-small-offset-x: -562px;
$icon-facebook-small-offset-y: -296px;
$icon-facebook-small-width: 21px;
$icon-facebook-small-height: 17px;
$icon-facebook-small-total-width: 585px;
$icon-facebook-small-total-height: 503px;
$icon-facebook-small-image: '../img/icons.png';
$icon-facebook-small: (562px, 296px, -562px, -296px, 21px, 17px, 585px, 503px, '../img/icons.png', 'icon-facebook-small', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 100px;
$icon-facebook-y: 400px;
$icon-facebook-offset-x: -100px;
$icon-facebook-offset-y: -400px;
$icon-facebook-width: 100px;
$icon-facebook-height: 100px;
$icon-facebook-total-width: 585px;
$icon-facebook-total-height: 503px;
$icon-facebook-image: '../img/icons.png';
$icon-facebook: (100px, 400px, -100px, -400px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-facebook', );
$icon-favorite-off-name: 'icon-favorite-off';
$icon-favorite-off-x: 400px;
$icon-favorite-off-y: 300px;
$icon-favorite-off-offset-x: -400px;
$icon-favorite-off-offset-y: -300px;
$icon-favorite-off-width: 100px;
$icon-favorite-off-height: 100px;
$icon-favorite-off-total-width: 585px;
$icon-favorite-off-total-height: 503px;
$icon-favorite-off-image: '../img/icons.png';
$icon-favorite-off: (400px, 300px, -400px, -300px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-favorite-off', );
$icon-favorite-on-name: 'icon-favorite-on';
$icon-favorite-on-x: 300px;
$icon-favorite-on-y: 300px;
$icon-favorite-on-offset-x: -300px;
$icon-favorite-on-offset-y: -300px;
$icon-favorite-on-width: 100px;
$icon-favorite-on-height: 100px;
$icon-favorite-on-total-width: 585px;
$icon-favorite-on-total-height: 503px;
$icon-favorite-on-image: '../img/icons.png';
$icon-favorite-on: (300px, 300px, -300px, -300px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-favorite-on', );
$icon-globe-large-name: 'icon-globe-large';
$icon-globe-large-x: 558px;
$icon-globe-large-y: 110px;
$icon-globe-large-offset-x: -558px;
$icon-globe-large-offset-y: -110px;
$icon-globe-large-width: 26px;
$icon-globe-large-height: 26px;
$icon-globe-large-total-width: 585px;
$icon-globe-large-total-height: 503px;
$icon-globe-large-image: '../img/icons.png';
$icon-globe-large: (558px, 110px, -558px, -110px, 26px, 26px, 585px, 503px, '../img/icons.png', 'icon-globe-large', );
$icon-globe-small-name: 'icon-globe-small';
$icon-globe-small-x: 558px;
$icon-globe-small-y: 206px;
$icon-globe-small-offset-x: -558px;
$icon-globe-small-offset-y: -206px;
$icon-globe-small-width: 16px;
$icon-globe-small-height: 16px;
$icon-globe-small-total-width: 585px;
$icon-globe-small-total-height: 503px;
$icon-globe-small-image: '../img/icons.png';
$icon-globe-small: (558px, 206px, -558px, -206px, 16px, 16px, 585px, 503px, '../img/icons.png', 'icon-globe-small', );
$icon-map-pin-blue-small-name: 'icon-map-pin-blue-small';
$icon-map-pin-blue-small-x: 500px;
$icon-map-pin-blue-small-y: 172px;
$icon-map-pin-blue-small-offset-x: -500px;
$icon-map-pin-blue-small-offset-y: -172px;
$icon-map-pin-blue-small-width: 20px;
$icon-map-pin-blue-small-height: 34px;
$icon-map-pin-blue-small-total-width: 585px;
$icon-map-pin-blue-small-total-height: 503px;
$icon-map-pin-blue-small-image: '../img/icons.png';
$icon-map-pin-blue-small: (500px, 172px, -500px, -172px, 20px, 34px, 585px, 503px, '../img/icons.png', 'icon-map-pin-blue-small', );
$icon-map-pin-blue-name: 'icon-map-pin-blue';
$icon-map-pin-blue-x: 100px;
$icon-map-pin-blue-y: 200px;
$icon-map-pin-blue-offset-x: -100px;
$icon-map-pin-blue-offset-y: -200px;
$icon-map-pin-blue-width: 100px;
$icon-map-pin-blue-height: 100px;
$icon-map-pin-blue-total-width: 585px;
$icon-map-pin-blue-total-height: 503px;
$icon-map-pin-blue-image: '../img/icons.png';
$icon-map-pin-blue: (100px, 200px, -100px, -200px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-map-pin-blue', );
$icon-map-pin-red-small-name: 'icon-map-pin-red-small';
$icon-map-pin-red-small-x: 520px;
$icon-map-pin-red-small-y: 172px;
$icon-map-pin-red-small-offset-x: -520px;
$icon-map-pin-red-small-offset-y: -172px;
$icon-map-pin-red-small-width: 20px;
$icon-map-pin-red-small-height: 34px;
$icon-map-pin-red-small-total-width: 585px;
$icon-map-pin-red-small-total-height: 503px;
$icon-map-pin-red-small-image: '../img/icons.png';
$icon-map-pin-red-small: (520px, 172px, -520px, -172px, 20px, 34px, 585px, 503px, '../img/icons.png', 'icon-map-pin-red-small', );
$icon-nav-main-menu-name: 'icon-nav-main-menu';
$icon-nav-main-menu-x: 200px;
$icon-nav-main-menu-y: 100px;
$icon-nav-main-menu-offset-x: -200px;
$icon-nav-main-menu-offset-y: -100px;
$icon-nav-main-menu-width: 100px;
$icon-nav-main-menu-height: 100px;
$icon-nav-main-menu-total-width: 585px;
$icon-nav-main-menu-total-height: 503px;
$icon-nav-main-menu-image: '../img/icons.png';
$icon-nav-main-menu: (200px, 100px, -200px, -100px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-nav-main-menu', );
$icon-nav-main-search-close-name: 'icon-nav-main-search-close';
$icon-nav-main-search-close-x: 100px;
$icon-nav-main-search-close-y: 0px;
$icon-nav-main-search-close-offset-x: -100px;
$icon-nav-main-search-close-offset-y: 0px;
$icon-nav-main-search-close-width: 100px;
$icon-nav-main-search-close-height: 100px;
$icon-nav-main-search-close-total-width: 585px;
$icon-nav-main-search-close-total-height: 503px;
$icon-nav-main-search-close-image: '../img/icons.png';
$icon-nav-main-search-close: (100px, 0px, -100px, 0px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-nav-main-search-close', );
$icon-nav-main-search-name: 'icon-nav-main-search';
$icon-nav-main-search-x: 300px;
$icon-nav-main-search-y: 100px;
$icon-nav-main-search-offset-x: -300px;
$icon-nav-main-search-offset-y: -100px;
$icon-nav-main-search-width: 100px;
$icon-nav-main-search-height: 100px;
$icon-nav-main-search-total-width: 585px;
$icon-nav-main-search-total-height: 503px;
$icon-nav-main-search-image: '../img/icons.png';
$icon-nav-main-search: (300px, 100px, -300px, -100px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-nav-main-search', );
$icon-pin-dark-blue-name: 'icon-pin-dark-blue';
$icon-pin-dark-blue-x: 559px;
$icon-pin-dark-blue-y: 172px;
$icon-pin-dark-blue-offset-x: -559px;
$icon-pin-dark-blue-offset-y: -172px;
$icon-pin-dark-blue-width: 19px;
$icon-pin-dark-blue-height: 33px;
$icon-pin-dark-blue-total-width: 585px;
$icon-pin-dark-blue-total-height: 503px;
$icon-pin-dark-blue-image: '../img/icons.png';
$icon-pin-dark-blue: (559px, 172px, -559px, -172px, 19px, 33px, 585px, 503px, '../img/icons.png', 'icon-pin-dark-blue', );
$icon-pin-gray-name: 'icon-pin-gray';
$icon-pin-gray-x: 540px;
$icon-pin-gray-y: 172px;
$icon-pin-gray-offset-x: -540px;
$icon-pin-gray-offset-y: -172px;
$icon-pin-gray-width: 19px;
$icon-pin-gray-height: 33px;
$icon-pin-gray-total-width: 585px;
$icon-pin-gray-total-height: 503px;
$icon-pin-gray-image: '../img/icons.png';
$icon-pin-gray: (540px, 172px, -540px, -172px, 19px, 33px, 585px, 503px, '../img/icons.png', 'icon-pin-gray', );
$icon-popup-arrow-name: 'icon-popup-arrow';
$icon-popup-arrow-x: 528px;
$icon-popup-arrow-y: 140px;
$icon-popup-arrow-offset-x: -528px;
$icon-popup-arrow-offset-y: -140px;
$icon-popup-arrow-width: 30px;
$icon-popup-arrow-height: 25px;
$icon-popup-arrow-total-width: 585px;
$icon-popup-arrow-total-height: 503px;
$icon-popup-arrow-image: '../img/icons.png';
$icon-popup-arrow: (528px, 140px, -528px, -140px, 30px, 25px, 585px, 503px, '../img/icons.png', 'icon-popup-arrow', );
$icon-primary-pin-name: 'icon-primary-pin';
$icon-primary-pin-x: 500px;
$icon-primary-pin-y: 0px;
$icon-primary-pin-offset-x: -500px;
$icon-primary-pin-offset-y: 0px;
$icon-primary-pin-width: 85px;
$icon-primary-pin-height: 72px;
$icon-primary-pin-total-width: 585px;
$icon-primary-pin-total-height: 503px;
$icon-primary-pin-image: '../img/icons.png';
$icon-primary-pin: (500px, 0px, -500px, 0px, 85px, 72px, 585px, 503px, '../img/icons.png', 'icon-primary-pin', );
$icon-search-white-name: 'icon-search-white';
$icon-search-white-x: 500px;
$icon-search-white-y: 296px;
$icon-search-white-offset-x: -500px;
$icon-search-white-offset-y: -296px;
$icon-search-white-width: 21px;
$icon-search-white-height: 21px;
$icon-search-white-total-width: 585px;
$icon-search-white-total-height: 503px;
$icon-search-white-image: '../img/icons.png';
$icon-search-white: (500px, 296px, -500px, -296px, 21px, 21px, 585px, 503px, '../img/icons.png', 'icon-search-white', );
$icon-search-name: 'icon-search';
$icon-search-x: 500px;
$icon-search-y: 72px;
$icon-search-offset-x: -500px;
$icon-search-offset-y: -72px;
$icon-search-width: 41px;
$icon-search-height: 38px;
$icon-search-total-width: 585px;
$icon-search-total-height: 503px;
$icon-search-image: '../img/icons.png';
$icon-search: (500px, 72px, -500px, -72px, 41px, 38px, 585px, 503px, '../img/icons.png', 'icon-search', );
$icon-share-name: 'icon-share';
$icon-share-x: 370px;
$icon-share-y: 400px;
$icon-share-offset-x: -370px;
$icon-share-offset-y: -400px;
$icon-share-width: 86px;
$icon-share-height: 71px;
$icon-share-total-width: 585px;
$icon-share-total-height: 503px;
$icon-share-image: '../img/icons.png';
$icon-share: (370px, 400px, -370px, -400px, 86px, 71px, 585px, 503px, '../img/icons.png', 'icon-share', );
$icon-success-name: 'icon-success';
$icon-success-x: 530px;
$icon-success-y: 110px;
$icon-success-offset-x: -530px;
$icon-success-offset-y: -110px;
$icon-success-width: 28px;
$icon-success-height: 28px;
$icon-success-total-width: 585px;
$icon-success-total-height: 503px;
$icon-success-image: '../img/icons.png';
$icon-success: (530px, 110px, -530px, -110px, 28px, 28px, 585px, 503px, '../img/icons.png', 'icon-success', );
$icon-telephone-name: 'icon-telephone';
$icon-telephone-x: 200px;
$icon-telephone-y: 400px;
$icon-telephone-offset-x: -200px;
$icon-telephone-offset-y: -400px;
$icon-telephone-width: 83px;
$icon-telephone-height: 100px;
$icon-telephone-total-width: 585px;
$icon-telephone-total-height: 503px;
$icon-telephone-image: '../img/icons.png';
$icon-telephone: (200px, 400px, -200px, -400px, 83px, 100px, 585px, 503px, '../img/icons.png', 'icon-telephone', );
$icon-twitter-round-clear-name: 'icon-twitter-round-clear';
$icon-twitter-round-clear-x: 500px;
$icon-twitter-round-clear-y: 230px;
$icon-twitter-round-clear-offset-x: -500px;
$icon-twitter-round-clear-offset-y: -230px;
$icon-twitter-round-clear-width: 22px;
$icon-twitter-round-clear-height: 22px;
$icon-twitter-round-clear-total-width: 585px;
$icon-twitter-round-clear-total-height: 503px;
$icon-twitter-round-clear-image: '../img/icons.png';
$icon-twitter-round-clear: (500px, 230px, -500px, -230px, 22px, 22px, 585px, 503px, '../img/icons.png', 'icon-twitter-round-clear', );
$icon-twitter-round-hover-name: 'icon-twitter-round-hover';
$icon-twitter-round-hover-x: 500px;
$icon-twitter-round-hover-y: 252px;
$icon-twitter-round-hover-offset-x: -500px;
$icon-twitter-round-hover-offset-y: -252px;
$icon-twitter-round-hover-width: 22px;
$icon-twitter-round-hover-height: 22px;
$icon-twitter-round-hover-total-width: 585px;
$icon-twitter-round-hover-total-height: 503px;
$icon-twitter-round-hover-image: '../img/icons.png';
$icon-twitter-round-hover: (500px, 252px, -500px, -252px, 22px, 22px, 585px, 503px, '../img/icons.png', 'icon-twitter-round-hover', );
$icon-twitter-round-name: 'icon-twitter-round';
$icon-twitter-round-x: 500px;
$icon-twitter-round-y: 274px;
$icon-twitter-round-offset-x: -500px;
$icon-twitter-round-offset-y: -274px;
$icon-twitter-round-width: 22px;
$icon-twitter-round-height: 22px;
$icon-twitter-round-total-width: 585px;
$icon-twitter-round-total-height: 503px;
$icon-twitter-round-image: '../img/icons.png';
$icon-twitter-round: (500px, 274px, -500px, -274px, 22px, 22px, 585px, 503px, '../img/icons.png', 'icon-twitter-round', );
$icon-twitter-small-name: 'icon-twitter-small';
$icon-twitter-small-x: 548px;
$icon-twitter-small-y: 274px;
$icon-twitter-small-offset-x: -548px;
$icon-twitter-small-offset-y: -274px;
$icon-twitter-small-width: 21px;
$icon-twitter-small-height: 17px;
$icon-twitter-small-total-width: 585px;
$icon-twitter-small-total-height: 503px;
$icon-twitter-small-image: '../img/icons.png';
$icon-twitter-small: (548px, 274px, -548px, -274px, 21px, 17px, 585px, 503px, '../img/icons.png', 'icon-twitter-small', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 400px;
$icon-twitter-y: 0px;
$icon-twitter-offset-x: -400px;
$icon-twitter-offset-y: 0px;
$icon-twitter-width: 100px;
$icon-twitter-height: 100px;
$icon-twitter-total-width: 585px;
$icon-twitter-total-height: 503px;
$icon-twitter-image: '../img/icons.png';
$icon-twitter: (400px, 0px, -400px, 0px, 100px, 100px, 585px, 503px, '../img/icons.png', 'icon-twitter', );
$icon-world-list-name: 'icon-world-list';
$icon-world-list-x: 500px;
$icon-world-list-y: 110px;
$icon-world-list-offset-x: -500px;
$icon-world-list-offset-y: -110px;
$icon-world-list-width: 30px;
$icon-world-list-height: 30px;
$icon-world-list-total-width: 585px;
$icon-world-list-total-height: 503px;
$icon-world-list-image: '../img/icons.png';
$icon-world-list: (500px, 110px, -500px, -110px, 30px, 30px, 585px, 503px, '../img/icons.png', 'icon-world-list', );
$icon-world-white-name: 'icon-world-white';
$icon-world-white-x: 521px;
$icon-world-white-y: 296px;
$icon-world-white-offset-x: -521px;
$icon-world-white-offset-y: -296px;
$icon-world-white-width: 21px;
$icon-world-white-height: 21px;
$icon-world-white-total-width: 585px;
$icon-world-white-total-height: 503px;
$icon-world-white-image: '../img/icons.png';
$icon-world-white: (521px, 296px, -521px, -296px, 21px, 21px, 585px, 503px, '../img/icons.png', 'icon-world-white', );
$icon-youtube-round-clear-name: 'icon-youtube-round-clear';
$icon-youtube-round-clear-x: 522px;
$icon-youtube-round-clear-y: 252px;
$icon-youtube-round-clear-offset-x: -522px;
$icon-youtube-round-clear-offset-y: -252px;
$icon-youtube-round-clear-width: 22px;
$icon-youtube-round-clear-height: 22px;
$icon-youtube-round-clear-total-width: 585px;
$icon-youtube-round-clear-total-height: 503px;
$icon-youtube-round-clear-image: '../img/icons.png';
$icon-youtube-round-clear: (522px, 252px, -522px, -252px, 22px, 22px, 585px, 503px, '../img/icons.png', 'icon-youtube-round-clear', );
$left-caret-name: 'left-caret';
$left-caret-x: 200px;
$left-caret-y: 300px;
$left-caret-offset-x: -200px;
$left-caret-offset-y: -300px;
$left-caret-width: 100px;
$left-caret-height: 100px;
$left-caret-total-width: 585px;
$left-caret-total-height: 503px;
$left-caret-image: '../img/icons.png';
$left-caret: (200px, 300px, -200px, -300px, 100px, 100px, 585px, 503px, '../img/icons.png', 'left-caret', );
$locate-name: 'locate';
$locate-x: 300px;
$locate-y: 200px;
$locate-offset-x: -300px;
$locate-offset-y: -200px;
$locate-width: 100px;
$locate-height: 100px;
$locate-total-width: 585px;
$locate-total-height: 503px;
$locate-image: '../img/icons.png';
$locate: (300px, 200px, -300px, -200px, 100px, 100px, 585px, 503px, '../img/icons.png', 'locate', );
$return-name: 'return';
$return-x: 0px;
$return-y: 200px;
$return-offset-x: 0px;
$return-offset-y: -200px;
$return-width: 100px;
$return-height: 100px;
$return-total-width: 585px;
$return-total-height: 503px;
$return-image: '../img/icons.png';
$return: (0px, 200px, 0px, -200px, 100px, 100px, 585px, 503px, '../img/icons.png', 'return', );
$selected-triangle-name: 'selected-triangle';
$selected-triangle-x: 524px;
$selected-triangle-y: 206px;
$selected-triangle-offset-x: -524px;
$selected-triangle-offset-y: -206px;
$selected-triangle-width: 34px;
$selected-triangle-height: 16px;
$selected-triangle-total-width: 585px;
$selected-triangle-total-height: 503px;
$selected-triangle-image: '../img/icons.png';
$selected-triangle: (524px, 206px, -524px, -206px, 34px, 16px, 585px, 503px, '../img/icons.png', 'selected-triangle', );
$support-name: 'support';
$support-x: 0px;
$support-y: 0px;
$support-offset-x: 0px;
$support-offset-y: 0px;
$support-width: 100px;
$support-height: 100px;
$support-total-width: 585px;
$support-total-height: 503px;
$support-image: '../img/icons.png';
$support: (0px, 0px, 0px, 0px, 100px, 100px, 585px, 503px, '../img/icons.png', 'support', );
$spritesheet-width: 585px;
$spritesheet-height: 503px;
$spritesheet-image: '../img/icons.png';
$spritesheet-sprites: ($caret-smallest, $caret, $chat, $donate, $favorite-off, $favorite-on, $flourish-horiz, $flourish-vert, $flower, $funeral, $gift, $icon-badge-star, $icon-blue-diamond, $icon-carousel-next, $icon-carousel-prev, $icon-checked, $icon-circle-minus, $icon-circle-plus, $icon-cloud, $icon-download, $icon-drop-arrow, $icon-envelope-list, $icon-facebook-round-clear, $icon-facebook-round-hover, $icon-facebook-round, $icon-facebook-small, $icon-facebook, $icon-favorite-off, $icon-favorite-on, $icon-globe-large, $icon-globe-small, $icon-map-pin-blue-small, $icon-map-pin-blue, $icon-map-pin-red-small, $icon-nav-main-menu, $icon-nav-main-search-close, $icon-nav-main-search, $icon-pin-dark-blue, $icon-pin-gray, $icon-popup-arrow, $icon-primary-pin, $icon-search-white, $icon-search, $icon-share, $icon-success, $icon-telephone, $icon-twitter-round-clear, $icon-twitter-round-hover, $icon-twitter-round, $icon-twitter-small, $icon-twitter, $icon-world-list, $icon-world-white, $icon-youtube-round-clear, $left-caret, $locate, $return, $selected-triangle, $support, );
$spritesheet: (585px, 503px, '../img/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
