@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

.locator-panel {
    background-color: $greystripe;

    .location-copy {
        background-color: $white;
        padding: 20px;
        position: relative;
    }

    .locator-data {

        .locator-titles {
            clear: both;
            font-size: 16px;

            h2 {
                margin: 0, 0, 10px, 0;
            }

            .locator-open {
                color: $teal;
                font-family: "Lato-Bold";
            }

            .hours {
                color: #969594; // TODO: is this color used elsewhere??
                margin-top: 20px;
            }
        }

        .locator-information {

            .icon-telephone {
                float: left;
                margin-left: -20px;
            }

            p {
                margin: 0;
                padding-top: 20px;
                font-size: 18px;
            }

            &:after {
                clear: both;
                margin: 20px auto;
                display: block;
                content: ' ';
                @include sprite($flourish-horiz);
                width: $flourish-horiz-width;
                height: $flourish-horiz-height;
            }

            .telephone {
                margin-bottom: 10px;
                font-family: 'Lato-Black';
                font-size: 24px;
                letter-spacing: 2.4px;
            }
        }

        .locator-titles,
        .locator-point,
        .locator-information {
            margin-bottom: 15px;
        }
    }

    .locator-options {

        a {
            text-transform: uppercase;
            text-align: center;
            display: block;
            font-family: Lato-Bold;
            font-size: 10px;
            min-width: 30%;
            letter-spacing: 2.4px;
            vertical-align: top;


            .icon {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .static-map {
        width: 100%;
        background-size: cover;
        min-height: 350px;
    }
}

@include if-min(sm) {
    .locator-panel {

        .locator-data {
            margin-bottom: 120px; // To give enough room for abs positioned locator-options to fit
        }

        .locator-options {
            position: absolute;
            bottom: 20px;
            width: 100%;

            a {
                display: inline-block;
                width: 30%;
            }
        }
    }
}

@include if-min(md) {
    .locator-panel {

        .locator-row {

            @include flex();
            margin: 0 auto;
            max-width: 1200px;

            > div {
                @include flex-item();
            }
        }

        .location-copy {
            vertical-align: top;
            width: 30%;
        }
    }
}
