@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

.location-container {

    background: $white;
    padding: 30px;
    
    .tab-list-items {
        text-align: center;
        margin-bottom: 30px;
    }

   h2 {
       font-size: 50px;
       text-align: center;
   } 
}