@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

.locator-panel {
    background-color: $greystripe;

    .locator-row {
        @include inner-component();

        > div:first-child {
            padding: 0;
            margin-left: -$gutter-mobile;
            margin-right: -$gutter-mobile;
        }
    }

    .location-copy {
        padding: 20px 0;
        position: relative;
    }

    .locator-data {
        text-align: center;

        .locator-titles {
            clear: both;
            font-size: 16px;

            h2 {
                margin: 0, 0, 10px, 0;
            }

            .locator-open {
                color: $teal;
                font-family: "Lato-Bold";
            }

            .hours {
                color: #969594; // TODO: is this color used elsewhere??
                margin-top: 20px;
            }
        }

        .locator-titles,
        .locator-point {
            margin-bottom: 15px;
        }
    }

    .locator-options {

        a {
            @include font-uppercase();
            text-align: center;
            display: inline-block;
            font-family: Lato-Bold;
            font-size: 10px;
            width: 30%;
            vertical-align: top;

            .icon {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .static-map {
        padding: 0;
        background-size: cover;
        width: 100%;
        min-height: 400px;
    }

    .locator-information {

        &:after {
            clear: both;
            margin: 20px auto;
            display: block;
            content: ' ';
            @include sprite($flourish-horiz);
            width: $flourish-horiz-width;
            height: $flourish-horiz-height;
        }

        @include if-min(sm) {
            display: inline-block;

            .icon-telephone {
                float: left;
                display: inline-block;
                margin-right: 20px;
            }
        }
    }


    @include if-min(md) {

        .location-copy {
            padding: 20px;
        }

        .locator-data {
            margin-bottom: 120px; // To give enough room for abs positioned locator-options to fit
        }

        .locator-options {
            position: absolute;
            bottom: 20px;
            width: 100%;
        }
    }

    @include if-min(lg) {

        .locator-data {
            text-align: left;
        }


        .locator-row {
            position: relative;

            > div:first-child {
                margin: 0;
            }
        }

        .location-copy {
            background-color: $white;
            vertical-align: top;
        }
    }
}
