@import "../base/mixins";

.modal-content {
    @include border-radius(0);
    padding: 10px;
    margin: $gutter-mobile;
}

.modal-header {
    border-bottom: none;

    > .close {
        font-size: 48px;
        font-weight: normal;
        margin-right: -5px;
        margin-top: -16px;
    }
}

.modal-footer {
    border-top: none;
    text-align: left;
}

.modal-iframe {
    iframe {
        border: none;
        width: 100%;
    }
}

/** Modal Gallery **/
.modal-background {
    background: whitesmoke;

    .modal-content {
        padding: 0px !important;
    }

    .modal-body {
        padding: 0px !important;
    }
}


.carousel-gallery {

    .component {
        padding: 0px !important;
        margin: 0px !important;
    }

}

.modal-title-gallery {
    padding: 0px !important;
    position: absolute;
    z-index: 1;
    right: 1%;
    top: 2%;
}

/* Alternative "hide" behavior using z-index; primarily used to avoid problems with map boundaries when showing maps in lightboxes */
.modal.fade.modal-layer-hide {
    display: block !important;
    opacity: 1 !important;
    z-index: -9999;

    &.in {
        z-index: 1050;
    }
}

@include if-min(md) {
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .modal-content {
        margin: $gutter-desktop;
        max-height: 100%;
    }
}
