@import "../base/mixins";

.resource {
	.resource-image,
	.resource-text,
	.resource-title {
		display: block;
	}

	.resource-image {
		@include rem-fallback(margin-bottom, 10px / 16px);
	}
}

.bp-sm {
	> .resource {
		display: table;
		table-layout: fixed;
		width: 100%;

		> .resource-image,
		> .resource-text {
			display: table-cell;
			margin-bottom: 0;
			vertical-align: top;
		}

		> .resource-image {
			min-width: 90px;
			@include rem-fallback(padding-right, 16px / 16px);
			width: percentage(1 / 4);
		}

		> .resource-text {
			width: percentage(3 / 4);
		}
	}
}

.bp-max-lg {
	> .resource {
		> .resource-image {
			width: percentage(1 / 3);
		}

		> .resource-text {
			width: percentage(2 / 3);
		}
	}
}
