@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

.search-box-placeholder {
    @include placeholder() {
        color: $nav-top-bar-text;
        @include font-family(Lato-Regular);
        font-size: 16px;
    }
}

.search-box {

    .form-group {
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }

    .form-control {
        @extend .search-box-placeholder;
        font-size: 18px;
        padding-right: $search-small-width + 30px;
        position: relative;
        height: 55px;
    }

    .form-group-btn {
        vertical-align: top;
        position: absolute;
        right: 20px;
        bottom: 10px;

        button {
            @include sprite($search-small);
            width: $search-small-width - 1px; // This feels wrong...
            color: transparent;
            border: none;
            background-color: transparent;
            padding: 0;
        }
    }

    .tt-menu {
        background-color: $white;
        border: 1px solid $black8;
        @include rem-fallback(padding, 10px / 16px);
        width: 100%;
    }

    label {
        @include font-uppercase();
        font-weight: normal;
    }

    > input::-ms-clear {
        display: none;
    }
}


.search-box-with-settings {
    margin-bottom: 0;
    padding: 30px 30px 0;
    background-color: rgba(239,239,239,.88);
    border-top: 5px solid rgba(71,213,205,.75);

    .form-group .form-control {
        border: none;
        padding: 20px;
    }
}

.search-box-settings {
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
    @include font-uppercase();
    @include font-family("Lato-Bold");

    > li {
        display: inline-block;
        list-style: none;
        vertical-align: top;
        line-height: 1em;
        margin: 0 40px 25px;
        min-width: 17%;

        a {
            padding-bottom: 5px;
        }

        &.selected a {
            border-bottom: 3px solid $teal;
        }
    }
}


.search-box-with-clear {
    .form-control {
        padding-right: $close-small-width + $search-small-width + 55px;

        @include placeholder() {
            @include rem-fallback(font-size, 12px / 12px);
        }
    }

    .form-group-btn {
        right: 50px + $close-small-width;

        &.clearer {
            right: 20px;
            
            button {
                @include sprite($close-small);
                height: $close-small-height - 1px; // This feels wrong...
            }
        }

         + .form-group-btn:after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 30px;
                background: #afafae;
                position: absolute;
                right: -15px;
                bottom: 2px;
            }
    }
}
