@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

.search-box-placeholder {
	@include placeholder() {
		color: $nav-top-bar-text;
		@include font-family(Lato-Regular);
		font-size: 16px;
	}
}

.search-box {
	position: relative;

	.form-group {
		margin-bottom: 0;
	}

	.form-control {
		@extend .search-box-placeholder;
		@include rem-fallback(font-size, 16px / 16px);
	}

	.btn.search {
		border: none;
		color: $black;
		margin: 0;
		top: 0;
        @include rem-fallback(font-size, 14px / 12px);
		@include rem-fallback(height, 50px / 16px);
		@include rem-fallback(padding, 13px / 16px, 20px / 16px);
	}

	.recent-searches {
		color: $grey;
		@include rem-fallback(margin-top, 10px / 16px);
	}

	.twitter-typeahead {
		width: 100%;
	}

	.tt-menu {
		background-color: $white;
		border: 1px solid $black8;
		@include rem-fallback(padding, 10px / 16px);
		width: 100%;
	}

	> input::-ms-clear {
		display: none;
	}
}

.search-box, .search-box-with-settings {
	.form-group-btn {
		vertical-align: top;
	}
}

.search-box-with-settings {
	margin-bottom: 0;
     padding: 30px 30px 0;
     background-color: rgba(239,239,239,.88);
     border-top: 5px solid rgba(71,213,205,.75);

   .form-group .form-control {
       border: none;
       padding: 20px;
   }

   .form-group-btn {
       background: $white;
       
       .btn.search {
           font-size: 12px;         
       }
   }
}

.search-box-settings {
	
	margin: 0;
	padding: 20px 0 0;
	text-align: center;
    text-transform: uppercase;

	> li {
		display: inline-block;
		list-style: none;
        vertical-align: top;
        line-height: 1em;
        margin: 0 40px 25px;
        min-width: 17%;

        a {
            padding-bottom: 5px;
        }
      
        &.selected a {
            border-bottom: 3px solid $teal;
        }
	}
}

.search-box-setting {
	@include font-family("Lato-Bold");
}

.search-box-small {
	.form-control {
		@extend .search-box-placeholder;
		@include rem-fallback(height, 32px / 16px);
		@include rem-fallback(padding-right, 32px / 16px);

		@include placeholder() {
			@include rem-fallback(font-size, 12px / 12px);
		}
	}

	.form-group-btn {
		@include sprite($icon-search);
		bottom: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
