@import "../base/colors";
@import "../base/mixins";
@import "icons-generated";

.see-more {

    @include font-uppercase();
    @include font-family('Lato-bold');
    @include accordion-icon();

    display: block;
    font-size: 14px;
    color: $black;
    cursor: pointer;
   
    .more {
        display: none;
    }

    &[aria-expanded="false"] {
        .more {
            display: inline;
        }

        .less {
            display: none;
        }
    }
}
