@import "../base/colors";
@import "../base/mixins";

.sidebar-nav {
	> li {
		border-bottom: 1px solid $black8;

		&:last-child {
			border-bottom: none;
		}

		&.sidebar-nav-title {
			@include rem-fallback(padding, 18px / 16px, 30px / 16px);
			font-family: "EMprintSemibold";
		}

		> a {
			@include rem-fallback(padding, 18px / 16px, 30px / 16px);
			display: block;

			&.active {
				@include rem-fallback(padding, 18px / 16px, 27px / 16px);
				background-color: $black5;
				border-left: 3px solid $teal;
				color: $teal;
				font-family: "EMprintSemibold";
			}

			&:hover {
				color: $teal;
			}
		}
	}

	&.sidebar-nav-right > li {
		text-align: right;

		> a {
			&.active {
				border-right: 3px solid $teal;
				border-left: none;
			}
		}
	}

	&.sidebar-nav-icons > li > a {
		@include rem-fallback(margin-top, -13px / 16px);
	}
}
