@import "icons-generated";

.static-map {
	display: inline-block;
    position: relative;

    > .map {
        display: block;
        width: 100%;
    }

    > .icon {
        display: block;
        left: 50%;
        margin-left: -($icon-pin-small-width / 2);
        margin-top: -$icon-pin-small-height;
        position: absolute;
        top: 50%;
    }
}
