@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";

.surfaced-item {
    position: relative;
    background: $white;
    padding: 0 0 40px;
    @include lift-card();


    h3 {
        font-size: 35px;
        margin-top: 0;
        padding: 0 5%;
    }

    .surfaced-item-copy {
        padding: 0 5%;

        h3 {
            padding: 0;
        }
    }

    .glyph-link {
        margin-top: 20px;
    }

    &.surfaced-item-vertical {
        text-align: center;
    }
}

.surfaced-item-image {

    @include rem-fallback(margin-bottom, 1);
    width: 100%;

    &.static-map {
        width: auto;
    }
}

.surfaced-item-overlay {
    padding-bottom: 0;
    text-align: center;

    .surfaced-item-content-image {
        display: block;
        position: relative;

        > img {
            max-width: percentage(1 / 1);
            width: percentage(1 / 1);
        }

        > .surfaced-item-label-image {
            @include rem-fallback(padding, 10px / 16px);
            bottom: 50%;
            @include transform(translate(0,50%));
            position: absolute;
            width: percentage(1 / 1);

            h3 {
                color: $white;

                @include rem-fallback(font-size, 30px / 20px);
                @include rem-fallback(margin, 2px / 16px);
                text-align: center;
                line-height: 1.5em;
            }
        }
    }

    .surfaced-item-copy {
        display: none;
    }

    @include if-min(md) {
        .surfaced-item-content-image {

            > .surfaced-item-label-image {
                position: static;
                background: $white;
                padding: 30px 5% 10px;
                @include transform(unset);

                h3 {
                    color: $black;
                    text-transform: none;
                    font-size: 48px;
                    margin: 0;
                    line-height: 1em;
                }
            }
        }

        .surfaced-item-copy {
            display: block;
            margin-bottom: 40px;
        }
    }
}

.bp-md {
    > .surfaced-item.surfaced-item-horizontal {
        display: table;
        width: 100%;

        .surfaced-intro-text {
            display: table-caption;
        }

        .surfaced-item-horizontal-row {
            display: table-row;
        }

        .surfaced-item-image {
            display: table-cell;
            vertical-align: top;

            &.static-map {
                display: inline-block;
            }
        }

        .surfaced-item-copy {
            display: table-cell;
            @include rem-fallback(padding-bottom, 16px / 16px);
            @include rem-fallback(padding-left, 1);
            vertical-align: top;
            width: 75%;
        }

        h3 {
            font-size: 48px;
        }
    }
}
