@import "../base/colors";

.no-js {
	.tab-list-items {
		.tab-content > .active,
		.tab-content > .tab-pane {
			display: block !important;
            margin-bottom: 2em;
		}

		.content-list-items {
			border: none !important;
			padding: 0 !important;
		}

		.nav-tabs {
			display: none !important;
		}
	}
}

.tab-list-items {
	> .nav-tabs {
		border-bottom: none;

		> li {
			margin-right: 8px;

			> a {
				background: $black8;
				border-radius: 0;
				color: $black;
			}

			&.active > a {
				border-top: 3px solid $teal;
				padding: 8px 15px 10px;
				background: $white;
                outline:none;
			}

            &::selection > a {
                outline:none;
            }
		}
	}

	.content-list-items {
		border: 1px solid $black8;
		padding: 15px;
	}
}
