@import "../base/colors";
@import "../base/mixins";

.no-js {
	.tab-list-items {
		.tab-content > .active,
		.tab-content > .tab-pane {
			display: block !important;
            margin-bottom: 2em;
		}

		.content-list-items {
			border: none !important;
			padding: 0 !important;
		}

		.nav-tabs {
			display: none !important;
		}
	}
}

.tab-list-items {
    
	> .nav-tabs {
		border-bottom: none;

		> li {
			margin-right: 8px;
            float: none;
            display: inline-block;

			> a {
				background: transparent;
				border-radius: 0;
				color: $grey;
                text-transform: uppercase;
                font-size: 18px;
                border: none;
                letter-spacing: 2.4px;
                font-family: Lato-Bold;
                display: inline-block;
                line-height: 35px;

                &:hover {
                     font-family: Lato-Black;
                     background: transparent;
                     color: $black;
                }
			}

			&.active > a {
			    font-family: Lato-Black;
                border: none;
                outline:none;
                background: transparent;
                color: $black;
              
                &:after {
                    content: '';
                    height: 2px;
                    width: 100%;
                    background: linear-gradient(to left, #b7b1ad 50%, transparent 0%) repeat-x bottom;
                    background-size: 7px 2px;
                    display: block;
                }
			}

            &::selection > a {
                outline:none;
            }
		}
	}

	.content-list-items {
		border: none;
		padding: 15px;
	}
}
