
$black20: #ccc;

$black8: #f8f7f3;
$black5: #f7f7f7;
$green: #e1ebd4;
$black: #4a3c31;
$white: #fff;
$teal: #47d5cd;
$grey: #605f5e;
$grey2: #f2f0ec;
$red: #e56849;
$error-color: #d21e1e;
$tan: #bbad8f;
$light-tan: #aeaca9;
$greystripe: #eeebe6;


$nav-top-bar-text: #656565;
$nav-top-bar-divider: $grey;
$nav-top-bar-link-hover-background: #d9d9d9;
$nav-main-bar-text-light: $grey;
$nav-main-item-hover-background: $black5;
$nav-main-item-hover-border: $teal;
$nav-main-item-hover-text: $teal;
$nav-main-item-active-background: $black5;
$nav-main-item-active-text: $grey;
$nav-social-popup-background: #333;
$nav-main-search-icon: #d4d4d4;
$nav-main-search-text: $grey;
$nav-main-search-text-hover: #454545;
$nav-main-mobile-divider: #d6d6d6;
$nav-main-mobile-arrow:$grey;
$nav-meganav-title: #333;
$nav-meganav-title-underline: #454545;
$nav-meganav-subitem: $grey;
$nav-meganav-subitem-underline: $teal;


$global-selector-background: #333;

$footer-bottom-background: #605f5e;
$footer-search-input-background: $footer-bottom-background;

$datamap-background: #7086b8;

$world-map-active-item-fill: #33a9e6;
$world-map-background-color: #f2f2f2;
$world-map-border-color: #ebebeb;
$world-map-hover-item-fill: $world-map-active-item-fill;
$world-map-supported-item-fill: #1c698f;
$world-map-unsupported-item-fill: #518fac;
$world-map-label-background-color: #fff;
$world-map-label-border-color: #00a3e0;
$world-map-label-text-color: #454545;
