$black: #2b2626;
$black70: #4d4d4d;
$black50: #808080;
$black40: #999;
$black35: #a6a6a6;
$black20: #ccc;
$black15: #d9d9d9;
$black12:#dedede;
$black10: #e6e6e6;
$black8: #ebebeb;
$black5: #f2f2f2;
$blue: #0c479d;
$blue-hover: #3d6cb1;
$cyan: #00a3e0;
$cyan-hover: #33b5e6;
$cyan-secondary: #3da4de;
$dark-secondary-blue: #11499b;
$green: #00a14d;
$grey: #5a5a5a;
$orange: #ed8b00;
$orange-hover: #f1a233;
$orange-light: #fdf5d6;
$orange-secondary: #ea8a1f;
$red: #d42e12;
$seablue: #007096;
$silver: #b5b5b5;
$silver-hover: #c4c4c4;
$table-highlight: #e5f6fc;
$white: #fff;
$yellow: #f7d117;

$body-background: #e0e0e0;
$body-mask: rgba(153, 153, 153, 0.9);

$nav-top-bar-background: #f0f0f0;
$nav-top-bar-text: #454545;
$nav-top-bar-divider: #808080;
$nav-top-bar-dot: #d6d6d6;
$nav-top-bar-link-hover-background: #d9d9d9;
$nav-main-bar-background: #fff;
$nav-main-bar-text-light: #808080;
$nav-main-bar-text-dark: #454545;
$nav-main-item-hover-background: #f4f4f4;
$nav-main-item-hover-border: #dc241f;
$nav-main-item-hover-text: #dc241f;
$nav-main-item-active-background: #fafafa;
$nav-main-item-active-text: $nav-main-bar-text-dark;
$nav-social-popup-background: #333;
$nav-main-search-icon: #d4d4d4;
$nav-main-search-text: #808080;
$nav-main-search-text-hover: #454545;
$nav-main-mobile-divider: #d6d6d6;
$nav-main-mobile-backnav-background: #f3f3f3;
$nav-main-mobile-backnav-arrow-gradient-top: #eaeaea;
$nav-main-mobile-backnav-arrow-gradient-bottom: $nav-main-mobile-backnav-background;
$nav-main-mobile-arrow: #808080;
$nav-meganav-title: #333;
$nav-meganav-title-underline: #454545;
$nav-meganav-subitem: #808080;
$nav-meganav-subitem-underline: #d4d4d4;
$nav-meganav-column-divider: #d6d6d6;

$global-selector-background: #333;

$footer-cap-start-color: #06459f;
$footer-cap-end-color: #33a2df;
$footer-bottom-background: #262626;
$footer-search-input-background: $footer-bottom-background;

$alert-background: $black10;
$alert-text: $black;
$alert-danger-background: #fbe8cc;
$alert-danger-title: #bb0000;
$alert-warning-background: #fdf6d1;
$alert-warning-title: $orange;
$alert-success-title: $green;

$carousel-inactive-dot-hover: #72b8d4;

$datamap-background: #7086b8;

$world-map-active-item-fill: #33a9e6;
$world-map-background-color: #f2f2f2;
$world-map-border-color: #ebebeb;
$world-map-hover-item-fill: $world-map-active-item-fill;
$world-map-supported-item-fill: #1c698f;
$world-map-unsupported-item-fill: #518fac;
$world-map-label-background-color: #fff;
$world-map-label-border-color: #00a3e0;
$world-map-label-text-color: #454545;
