@import "colors";
@import "mixins";

html {
	-webkit-font-smoothing: antialiased;
}

html, body {
	background-color: $white;
	color: $black;
	font-size: 16px;
	height: 100%;
}

body, p {
	@include font-family("Lato-Regular");
	line-height: 1.5;
}

a {
	color: $black;
	text-decoration: none;
    //border-bottom: 2px solid $teal;

	&:active {
		outline: none;
	}

	&:hover {
		text-decoration: none;
	}

	&.disabled {
		color: $grey;
	}
}

img {
	max-width: 100%;
}

em {
	@include font-family(EMprintItalic);
	font-style: normal;
}

strong {
	@include font-family(EMprintBold);
	font-weight: normal;
}

em > strong,
strong > em {
	@include font-family(EMprintBoldItalic);
	font-style: normal;
	font-weight: normal;
}
