@import "../core/base/colors";

/*
	This stylesheet is used to create common styling for the different variations of
	tables in PDS pages.  It starts by styling tables without specific classes or proper
	structure, then overrides that styling for more specific types of tables.  So the
	sequence of styles below is critical.
*/

/* Base styles for undecorated tables */
table {
	border: 1px solid $black8;
	border-collapse: collapse;
	margin-bottom: 0;
}

table th,
table td {
	border: 1px solid $black8;
	padding: 8px;
}

table tr:nth-child(odd) {
	background-color: $black8;
}

table th,
table tr:first-child td {
	background-color: $black8;
	border-left-color: #fff;
	border-right-color: #fff;
	font-family: "Lato-Bold";
}

/* Undo TD header style for pdstable tables */
table.pdstable > thead {
	background-color: $black8;
}

table.table > tbody > tr:nth-child(odd),
table.pdstable > tbody > tr:nth-child(odd) {
	background-color: transparent;
}

table.table > tbody > tr:nth-child(even),
table.pdstable > tbody > tr:nth-child(even) {
	background-color: $black8;
}

table.table > tbody > tr > td,
table.pdstable > tbody > tr > td {
	background-color: transparent;
	border: 1px solid $black8;
	font-family: "Lato-Regular";
}
