@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "variables";

.nav-top-bar {
    display: none; 
    @include inner-component();

    height: $nav-top-bar-height;
    position: relative;
    text-transform: uppercase;
    @include font-family("Lato");
    @include rem-fallback(font-size, 13px / 16px);
    

    a,
    a:hover,
    a:active,
    a:focus {
        display: inline-block;
        color: $nav-top-bar-text;
        white-space: nowrap;
    }

    ul {
        margin: 0;
        padding: 0;

        > li {
            float: left;
            position: relative;

            &:first-child {
                padding-left: 0;
            }
            
            a {
                padding: 10px 15px;

                &:hover {
                    background-color: $nav-top-bar-link-hover-background;
                }
            }

            @include if-min(lg) {
                a {
                    padding: 10px 20px;
                }

                &:first-child a {
                    padding-left: 30px;
                }
            }
        }
    }

    @include if-min(md) {
        display: block;
    }
}


.nav-top-bar-left {
    float: left;
    height: $nav-top-bar-height;
}


.nav-top-bar-right {
    float: right;
    height: $nav-top-bar-height;
}
