@import "../base/colors";
@import "../base/mixins";
@import "variables";
@import "../modules/icons-generated";

.nav-main-list-trigger,
.nav-main-list {
    float: right;
}

.nav-main-list-trigger {
    padding-top: 21px;

    > .icon-hamburger {
        position: relative;
        width: 35px;
        display: block;
        margin: 8px auto 20px;

        .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
            background-color: $teal;
            height: 2px;
            position: absolute;
            width: 35px;
            display: block;
        }

        .hamburger-inner {
            top: auto;
            @include transition(transform, 75ms, cubic-bezier(.55,.055,.675,.19));

            &:before, &:after {
                content: " ";
            }

            &:after {
                transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
                bottom: -8px;
            }

            &:before {
                top: -8px;
                @include transition(transform, .15s, ease);
                transition: top 75ms ease .12s,opacity 75ms ease;
            }
        }
    }

    &.nav-main-item-active > .icon-hamburger .hamburger-inner {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        @include transform(rotate(45deg));

        &:before {
            top: 0;
            transition: top 75ms ease,opacity 75ms ease .12s;
            opacity: 0;
        }

        &:after {
            bottom: 0;
            transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
            @include transform(rotate(-90deg));
        }
    }
}

.nav-main-list {
    display: none;
}

@include if-min(lg) {
    .nav-main-list-trigger {
        display: none;
    }

    .nav-main-list {
        display: block;
        height: 100%;
        margin-bottom: 0;
        padding-left: 0;
        text-transform: uppercase;

        > li {

            &:after {
                content: ' ';
                @include sprite($flourish-vert);
                overflow: hidden;
                width: $flourish-vert-width;
                height: $flourish-vert-height;
                transform: translate(-50%,-50%);
                position: absolute;
                top: 50%;
                right: 0;
            }

            &:last-child:after {
                display: none;
            }
        }

        &.nav-main-list-condensed {
            display: table;

            > li {
                display: table-cell;
                float: none;
                padding-bottom: 0;
                padding-top: 0;
                vertical-align: middle;


                > a {
                    display: table-cell;
                    height: $nav-main-height;
                    padding: 0;
                    vertical-align: middle;
                }
            }
        }
    }
}
