@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "variables";

.nav-lines-brands {
	margin: 0;
	padding: 0;

	> li {
		float: left;
		position: relative;

		&:first-child {
			padding-left: 0;

			&:after {
				color: $grey;
				content: '\02022';
				display: block;
				font-family: 'serif';
				font-size: 15px;
				position: absolute;
				right: -2px;
				top: 9px;
			}
		}

		> a {
			padding: 10px 15px;

			&:hover {
				background-color: $nav-top-bar-link-hover-background;
			}
		}
	}

	&:hover {
		> li:after {
			visibility: hidden;
		}
	}
}

@include if-min(lg) {
	.nav-lines-brands {
		> li {
			> a {
				padding: 10px 20px;
			}

			&:first-child {
				> a {
					padding-left: 30px;
				}
			}
		}
	}
}
