@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "../modules/icons-generated";
@import "variables";

.nav-meganav {
	display: block;
	top: -9999px;
	position: absolute;
	width: 100%;
}

@include if-min(lg) {
	.nav-meganav-wrapper {
		position: relative;
	}

	.nav-meganav-active {
		background-color: $nav-main-item-active-background;
		padding: 25px 0 50px;
		top: 0;
	}

	.nav-meganav-col {
		border-right: 1px solid $nav-meganav-column-divider;
		float: left;
		margin-right: 2.02429%;
		padding: 0 2.02429%;
		width: 22.48178%;

		> ul {
			padding: 0;

			> li {
				float: none;
			}
		}

		&:nth-child(4) {
			border-right: none;
		}
	}

	.nav-meganav-title {
		padding: 20px 0;

		> a {
			color: $nav-meganav-title;
			@include font-family(EMprintSemibold);
			@include rem-fallback(font-size, 17px / 16px);

			&:hover {
				border-bottom: 1px solid $nav-meganav-title-underline;
			}
		}
	}

	.nav-meganav-subitem {
		padding: 10px 0;

		> a {
			color: $nav-meganav-subitem;
			@include rem-fallback(font-size, 14px / 16px);

			&:hover {
				border-bottom: 1px solid $nav-meganav-subitem-underline;
			}
		}
	}

	.nav-meganav-close {
		cursor: pointer;
		padding: 20px;
		position: absolute;
		right: 10px;
		top: 35px;
		width: 16px;

		.nav-close-ie8{
			display:none;
		}

	}

	.nav-meganav-close-inner {
		@include transform(rotate(45deg));

		&:before, &:after {
			content: "";
			background-color: #808080;
			position: absolute;
			left: 50%;
			top: 50%;
		}

		&:before {
			height: 2px;
			margin-top: -1px;
			margin-left: -8px;
			width: 16px;
		}

		&:after {
			height: 16px;
			width: 2px;
			margin-left: -1px;
			margin-top: -8px;
		}
	}
}
