@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "../modules/icons-generated";
@import "variables";

#nav-main-mobile {
    background-color: $greystripe;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: -9999px;
    width: 80%;
}

html.nav-main-mobile-open {
    #nav-main-mobile {
        top: 0;
    }

    .body-wrapper {
		right: 80%;

        
	}
}


.nav-main-mobile-visible {
    height: auto;
    top: 0;
}

.nav-main-mobile-panel {
    display: block;
    height: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    text-align: center;

    &.nav-main-mobile-panel-parent {
        @extend .nav-main-mobile-visible;
        left: -70px;
        z-index: 1;
    }

    &.nav-main-mobile-panel-active {
        @extend .nav-main-mobile-visible;
        left: 0;
        overflow: visible;
        z-index: 2;
    }

    &.nav-main-mobile-panel-highest {
        @extend .nav-main-mobile-visible;
        z-index: 3 !important;
    }



    > li {
        padding: 0 30px;

        &.top-level {
            > a {
                @include font-family("Lato-Bold");
            }

            &:after {
                clear: both;
                display: block;
                content: ' ';
                @include sprite($flourish-horiz);
                width: $flourish-horiz-width;
                height: $flourish-horiz-height;
                margin: 10px auto;
            }
        }

        &:not(.top-level) > a {
            color: $grey;
        }

        > a {
            @include font-uppercase();
            display: block;
            font-size: 14px;
            padding: 20px 0;
            position: relative;

            &:hover, &:focus, &:active {
                text-decoration: none;
            }

            &.logo {
                text-align: left;
                > img {
                    width: 170px;
                }
            }
        }
    }
}

html.nav-main-mobile-open {
    #nav-main-mobile {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

html.nav-main-mobile-transition {
    #nav-main-mobile {
        overflow: hidden;
    }
}

@include if-min(lg) {
    #nav-main-mobile {
        display: none;
    }
}
