@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "variables";

.nav-top-bar {
    display: none;
    @include inner-component();
    height: $nav-top-bar-height;
    position: relative;
    text-transform: uppercase;
    @include font-family("Lato");
    @include rem-fallback(font-size, 13px / 16px);


    a,
    a:hover,
    a:active,
    a:focus {
        display: inline-block;
        color: $nav-top-bar-text;
        white-space: nowrap;
    }

    /**Style Nav language*/
    .change-language {
        ul {
            min-width: 0px;
            background: $greystripe;
            border-top: none;
            border-radius: 0px 0px 4px 4px;

            li {
                width: 100%;

                a {
                    &:hover {
                        width: 100%;
                        background: $white;

                        &:last-child {
                            border-radius: 0px 0px 4px 4px;
                        }
                    }
                }

                &:first-child a {
                    padding-left: 20px !important;
                }
            }
        }
    }
    /**Style Nav language end */

    ul {
        margin: 0;
        padding: 0;

        > li {
            float: left;
            position: relative;

            &:first-child {
                padding-left: 0;
            }

            a {
                padding: 10px 15px;
            }

            @include if-min(lg) {

                a {
                    padding: 10px 20px;
                }

                &:first-child a {
                    padding-left: 30px;
                }
            }
        }
    }

    @include if-min(lg) {
        display: block;
    }
}


.nav-top-bar-left {
    float: left;
    height: $nav-top-bar-height;
}


.nav-top-bar-right {
    float: right;
    height: $nav-top-bar-height;
}
