@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "variables";

.nav-header {
    background-color: #edeae5;
    margin: 0 auto;
   
    position: relative;
    z-index: 9;

    > .nav-wrapper {
        
        position: relative;
        z-index: 1;

        &:before, &:after {
            bottom: 18px;
          
            content: '';
            left: 0;
            position: absolute;
            top: 80%;
            @include transform(rotate(-3deg));
            width: 50%;
        }

        &:after {
            left: auto;
            right: 0;
            @include transform(rotate(3deg));
        }
    }

    ul {
        list-style: none;

        > li {
            margin: 0;
            position: relative;

            > a:hover {
                text-decoration: none;
            }
        }
    }

    a {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
}

.nav-header-divider {
    display: none;
}
