@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "../modules/icons-generated";
@import "variables";

#nav-main-mobile {
    background-color: $greystripe;
    height: 100%;
    width: 100%;
    z-index: 999999;
    overflow-x: hidden;
    position: absolute;
    display: none;
}

html.nav-main-mobile-open #nav-main-mobile {
    display: block;
}


.nav-main-mobile-visible {
    height: auto;
    top: 0;
}

.nav-main-mobile-panel {
    display: block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    text-align: center;

    li {
        padding: 0 30px;
        @include font-uppercase();
        font-size: 14px;

        &.top-level {
           @include font-family("Lato-Bold");

            &:after {
                clear: both;
                display: block;
                content: ' ';
                @include sprite($flourish-horiz);
                width: $flourish-horiz-width;
                height: $flourish-horiz-height;
                margin: 0 auto;
                max-width: 100%;
            }
        }

        &.openPanel:after {
            display: none;
        }

        &:not(.top-level) > a {
            color: $grey;
        }

        > a {
            
            display: block;
            padding: 25px 0;
            position: relative;

            &:hover, &:focus, &:active {
                text-decoration: none;
            }

            // Dropdown menus
            &[data-toggle="collapse"] {

               @include accordion-icon();

                &[aria-expanded="true"] {
                      @include font-family("Lato-Black");
                }

                & + * {
                    width: 100%;
                    border: 1px solid $tan;
                    border-top: none;
                    margin: 0 auto;

                    li:hover, &.row {
                        background-color: $white;
                    }

                    &.row > a {
                        padding-bottom: 10px;

                        &:first-child:after {
                            content: ' ';
                            @include sprite($flourish-vert);
                            width: $flourish-vert-width;
                            height: $flourish-vert-height;
                            transform: translate(-50%,-50%);
                            position: absolute;
                            top: 50%;
                            right: 0;
                        }

                        h3 {
                            font-size: 26px;
                            text-transform: none;
                            letter-spacing: 0;
                        }

                        p {             
                            letter-spacing: 1px;
                            font-size: 14px;
                            color: $grey;
                            line-height: 1.2em;
                        }
                    }
                }
            }
        }
    }

    // Searchbox
    .form-group {
        margin: 5px auto 25px;
        position: relative;
    }
}

html.nav-main-mobile-open #nav-main-mobile {
    overflow-x: hidden;
    overflow-y: auto;
}

html.nav-main-mobile-transition {
    #nav-main-mobile {
        overflow: hidden;
    }
}


// If the mobile menu is open when the browser is resized to desktop, force close it
@include if-min(lg) {
    #nav-main-mobile {
        display: none  !important;
    }
}
