@import "../base/colors";
@import "../base/mixins";
@import "../modules/icons-generated";
@import "variables";

.nav-main-search-trigger {
	float: right;
	padding-top: 18px;
	width: 75px;

	&:before {
		color: $nav-main-item-hover-text;
		content: "\e007";
		display: block;
		@include font-family(em);
		font-size: 21px;
	}
}

.nav-main-search {
	display: none;
	height: 80px;
	padding-left: 65px;
	padding-right: $nav-small-gutter;
	position: relative;
	width: 100%;

	&:before {
		color: $nav-main-search-icon;
		content: "\e001";
		@include font-family(em);
		font-size: 26px;
		left: $nav-small-gutter;
		position: absolute;
		top: 21px;
	}

	> input {
		border: none;
		color: $nav-main-search-text;
		font-size: 21px;
		outline: none;
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		top: 23px;
		width: 100%;
	}
}

.nav-main-search-submit {
	display: none;
}

.nav-search-open {
	.nav-main-search-trigger {
		position: relative;

		&:after,
		&:before {
			background-color: $nav-main-item-hover-text;
			content: "";
			height: 1px;
			margin: 0;
			position: absolute;
			top: 33px;
			width: 22px;
		}

		&:before {
			left: 27px;
			@include rotate(45deg);
		}

		&:after {
			right: 26px;
			@include rotate(-45deg);
		}

		.nav-main-item-text {
			display: block;
			margin-top: 35px;
		}
	}

	.nav-main-search {
		display: block;
	}
}

@include if-min(md) {
	.nav-main-search.search-box {
		height: 90px;
		padding-left: 75px;
		padding-right: 25%;

		&:before {
			font-size: 29px;
			top: 23px;
		}

		> input {
			font-size: 28px;
			top: 21px;
		}

		.nav-main-search-submit {
			background: transparent;
			border: none;
			color: $nav-main-search-text;
			display: block;
			@include font-family(EMprint);
			font-size: 18px;
			outline: none;
			padding: 5px $nav-small-gutter 5px 30px;
			position: absolute;
			right: 0;
			top: 25px;

			&:hover {
				color: $nav-main-search-text-hover;
			}

			&:before {
				background-color: $nav-main-search-icon;
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 1px;
			}
		}
	}
}

@include if-min(lg) {
	.nav-main-search-trigger {
		padding-top: 35px;

		&:before {
			color: $grey;
			font-size: 15px;
		}

		&:hover:before {
			color: $nav-main-item-hover-text;
		}
	}

	.nav-main-search.search-box {
		height: 100px;
		padding-left: 85px;

		&:before {
			font-size: 33px;
			top: 19px;
		}

		> input {
			font-size: 35px;
			top: 15px;
		}

		.nav-main-search-submit {
			font-size: 22px;
			top: 22px;
		}
	}

	.nav-search-open {
		.nav-main-search-trigger {
			&:after,
			&:before {
				top: 44px;
			}

			.nav-main-item-text {
				display: none;
			}
		}

		.nav-main-search {
			display: block;
		}
	}
}
