@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "../modules/icons-generated";
@import "variables";

.nav-main-bar {

    @include inner-component();
    clear: both;
    height: $nav-main-height;
    position: relative;
    z-index: 1;

    .logo {
        display: inline-block;
        max-width: 50%;
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));

        img {
            width: 160px;
            margin-top: -10px;
        }
    }

    a {
        outline: none;
    }
}

.nav-main-item {
    display: block;
    float: left;
    height: 100%;
    min-width: 57px;
    padding: 0 15px;
    text-align: center;

    > a {
        display: block;
        color: $grey;
        @include font-family("Lato-Bold");
        @include rem-fallback(font-size, 15px / 16px);
        height: 100%;
        padding-top: 20px;
    }
}

// This is the text under the hamburger logo
.nav-main-item-text {
    font-size: .65em;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: 1px;

    .close-text {
        display: none;
    }
}

@include if-min(lg) {
    .nav-main-bar {
        max-width: $xl-max;
    }
}

@include if-min(xl) {
    .nav-main-item {
        padding-left: 50px;
        padding-right: 50px;
    }
}
