@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "variables";

.nav-header {
    background-color: $greystripe;
    margin: 0 auto;
    padding-left: $gutter-mobile;
    padding-right: $gutter-mobile;
    position: relative;
    z-index: 9;

    > .nav-wrapper {
        
        position: relative;
        z-index: 1; 
    }

    ul {
        list-style: none;

        > li {
            margin: 0;
            position: relative;
             
    }
        }

    a {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }

        &.dropdown-toggle {
            @include accordion-icon();
        }
    }
   
}


@include if-min(md) {

    .nav-header {
        padding-left: $gutter-desktop;
	    padding-right: $gutter-desktop;
    }
}