@import "../base/colors";
@import "../base/mixins";
@import "../layout/breakpoints";
@import "../modules/icons-generated";
@import "variables";

.nav-main-bar {
	
    @include inner-component();

	clear: both;
	
	height: $nav-main-height;
	position: relative;
	z-index: 1;

	.logo {
		display: inline-block;
		max-width: 50%;
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));

        img {
            width: 160px;
            margin-top: -10px;
        }

	}

	a {
		outline: none;
	}
}

.nav-main-item {
	display: block;
	float: left;
	height: 100%;
	min-width: 57px;
	padding: 0 15px;
	text-align: center;

	&:hover {
		background-color: $nav-main-item-hover-background;
		color: $nav-main-item-hover-text;
	}

	> a {
		display: block;
		@include font-family("Lato-Bold");
		@include rem-fallback(font-size, 15px / 16px);
	}

	> .icon {
		display: block;
		margin: 0 auto 4px;
	}
}


.nav-main-item-text {
	color: $nav-main-bar-text-light;
	@include font-family("Lato-Bold");
	@include rem-fallback(font-size, 12px / 16px);
}

@include if-min(lg) {
	.nav-main-bar {
        max-width: $xl-max;
	}

	.nav-main-item {
		&:hover {
			color: $nav-main-item-hover-text;

			> a {
				color: inherit;
			}
		}

		> a {
			color: $grey;
			@include rem-fallback(font-size, 15px / 16px);
			height: 100%;
			padding-top: 20px;
		}
	}

	.nav-main-item-active:hover {
		background-color: $nav-main-item-active-background;
		color: $nav-main-item-active-text;
	}

	.nav-main-item-text {
		display: none;
	}
}

@include if-min(xl) {
	.nav-main-item {
		padding-left: 50px;
		padding-right: 50px;
	}
}
