@import "../base/colors";
@import "../base/mixins";
@import "variables";
@import "../modules/icons-generated";

.nav-main-list-trigger,
.nav-main-list {
	float: right;
}

.nav-main-list-trigger {
	padding-top: 21px;

	> .icon-hamburger {
		background-color: $nav-main-item-hover-text;
		display: block;
		height: 2px;
		margin: 11px auto 15px;
		position: relative;
		width: 25px;

		&:before, &:after {
			background-color: $teal;
			content: " ";
			display: block;
			height: 2px;
			position: absolute;
			top: -8px;
			width: 25px;
		}

		&:after {
			top: 8px;
		}
	}
}

.nav-main-list {
	display: none;
}

@include if-min(lg) {
	.nav-main-list-trigger {
		display: none;
	}

	.nav-main-list {
		display: block;
		height: 100%;
		margin-bottom: 0;
        padding-left: 0;
        text-transform: uppercase;

        > li {
                      
            &:after {
                content: ' ';
                @include sprite($flourish-vert);
                overflow: hidden;
                width: $flourish-vert-width;
                height: $flourish-vert-height;
                transform: translate(-50%,-50%);
                position: absolute;
                top: 50%;
                right: 0;
            }

            &:last-child:after {
               display: none;
            }
        }

		&.nav-main-list-condensed {
			display: table;

			> li {
				display: table-cell;
				float: none;
				padding-bottom: 0;
				padding-top: 0;
				vertical-align: middle;
                

				> a {
					display: table-cell;
					height: $nav-main-height;
					padding: 0;
					vertical-align: middle;
				}
			}
		}
	}
}
